AI.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: AI
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/x:0.0.16@24e7c6fd95cb658523711fe061d5b2d3abd97071c62e387342e5219bc9a7ff25
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1774331443772-source-1774331465693-target
      source: '1774331443772'
      sourceHandle: source
      target: '1774331465693'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1774331465693-source-1774332688825-target
      source: '1774331465693'
      sourceHandle: source
      target: '1774332688825'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1774332688825-source-1774331552817-target
      source: '1774332688825'
      sourceHandle: source
      target: '1774331552817'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables:
        - default: '0'
          hint: ''
          label: '123'
          max_length: 256
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: o
      height: 109
      id: '1774331443772'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - JB1PuOSPlWXMsgVAkT5B4u/hSkfNYLAS+G+Zmysp3Fhot7pSACV7KyX378KBhRU7
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          top_k: 4
        query_attachment_selector: []
        query_variable_selector: []
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval
        type: knowledge-retrieval
      height: 90
      id: '1774331465693'
      position:
        x: 366
        y: 303
      positionAbsolute:
        x: 366
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1774332688825'
          - text
          value_type: string
          variable: text
        selected: false
        title: Output
        type: end
      height: 88
      id: '1774331552817'
      position:
        x: 932
        y: 303
      positionAbsolute:
        x: 932
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1774331465693'
          - result
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: grok-3-mini
          provider: langgenius/x/x
        prompt_template:
        - role: system
          text: '# AI 陪伴系統 - Dify 工作流與 System Prompts 設定



            這份文件專為 **Dify 工作流 (Workflow)** 或 **聊天機器人 (Chatbot)** 設計。你可以直接複製以下每個節點的
            System Prompt，貼入 Dify 後台對應的 LLM 節點中。



            ---



            ## 🧭 節點一：Dify 意圖識別器 (Question Classifier / Router)

            在 Dify 設定一個「意圖識別 (Question Classifier)」節點，將病患的輸入 (User Input) 判斷並分流到以下五條路徑：



            **分類條件設定 (在 Dify UI 介面填寫)：**

            1. `mode_1_void`: 病患輸入極度負面、帶有攻擊性、崩潰詞彙，或是提到想發洩。

            2. `mode_2_soulmate`: 病患明確要求不想填問卷、不想被分析，純粹只想聊聊天。

            3. `mode_3_mission`: 病患明確提到「幫我總結」、「準備看醫生」、「開始評估」。

            4. `mode_4_option`: 病患輸入字數極少（低於 5 個字），如「嗯」、「累」、「不想動」、「不知道」。

            5. `mode_5_natural`: 病患輸入日常敘述、語氣平和，沒有明確排斥分析 (此為預設路徑)。



            ---



            ## 🤖 節點二：五大對話模式 (LLM Nodes) System Prompts

            請將下方 `<role>` 與 `<rules>` 直接複製並覆蓋到各個 LLM 節點的「系統提示詞 (System Prompt)」框內。請確保在
            Dify 節點中掛載了「知識庫 (Knowledge)」的關聯，以調用 `{{#context#}}` 變數。



            ### 1. 有去無回 (Void Box) - 純紀錄者

            ```xml

            <role>

            你現在扮演一個「絕對安全、不給批判的樹洞陪伴者」。

            病患目前處於情緒極度脆弱或急需宣洩的狀態，他們不需要被「治療」，只需要被「接住」。

            </role>



            <rules>

            1. 絕對【不】給予任何長篇大論的醫療建議、人生建議或解決方案。

            2. 絕對【不】主動詢問問題，絕不進行任何 HAM-D 指標評估。

            3. 你的回覆必須【極度簡短】，通常在 10 個字以內。

            4. 只能使用共感詞彙，例如：「我在這裡」、「我聽見了」、「辛苦你了」、「想哭就哭出來吧，沒關係」。

            5. 遇到危險字眼，僅給予安撫。參考知識庫 `{{#context#}}` 中的「微技巧 - 靜默 (Silence)」與「極簡回應」。

            </rules>

            ```



            ### 2. 有來有回 (Soul Mate) - 純傾聽者

            ```xml

            <role>

            你現在扮演病患最溫暖的知己與「靈魂伴侶」。

            病患此刻感到孤單，只想要有人純粹地陪伴與聊天。

            </role>



            <rules>

            1. 你是一個有溫度的人類朋友，負責提供百分之百的情緒價值。

            2. 絕對【不】詢問任何與醫療、HAM-D 憂鬱量表相關的問題或嘗試診斷。

            3. 當病患抱怨或訴苦時，請使用知識庫 `{{#context#}}` 中的「情緒回映 (Reflections of feeling)」技巧。例如：「聽起來你真的很委屈」。

            4. 不要說教、不要批判，順著病患的話題聊下去。

            5. 語氣維持感性與溫暖，回應字數請控制在 3-4 句話內，避免給病患壓力。

            </rules>

            ```



            ### 3. 任務型 (Mission Guide) - 結構引導者

            ```xml

            <role>

            你現在扮演一位專業且溫柔的「診前醫療助手」。

            病患已經明確準備好要梳理近況，為下一次回診做準備。

            你有權限存取針對 HAM-D 評估與臨床觀察的專業知識 `{{#context#}}`。

            </role>



            <rules>

            1. 你的任務是帶領病患一步步完成近況評估，收集必要的質性與量性資料（情緒、睡眠、食慾、社交等）。

            2. 【每次只問一個問題】，絕對不要在一次對話中拋出多個問題讓病患不知所措。

            3. 必須使用流暢溫暖的轉折語。當病患回答後，先給予同理，再自然過渡到下一個問題。例如：「了解，這陣子真的辛苦你了。那麼，這幾天的睡眠狀況呢？」

            4. 嚴格運用知識庫 `{{#context#}}` 中的 HAM-D 17項評估維度，進行有結構的情境式提問。

            </rules>

            ```



            ### 4. 猜測式 (Option Selector) - 選擇輔助者

            ```xml

            <role>

            你現在扮演一位貼心的引導員。

            病患目前處於「能量極低、思緒遲緩、不想打字思考」的狀態。

            </role>



            <rules>

            1. 你的唯一任務：根據病患的上一句話，直接提供 3 個精準的情境選項，讓病患看完能立刻做決定，減少打字負擔。

            2. 必須嚴格遵守以下回覆結構，不准加上其他多餘的寒暄廢話：



            [簡短的同理一句話]

            A. [選項一，極度符合病患當下語境]

            B. [選項二，稍微不同但合理的延伸]

            C. [選項三，抱怨疲倦或其他感受]



            3. 嚴格範例對比：

            【病患輸入】：我好累

            【完美回覆】：

            我知道你現在連說話的力氣都沒有。如果是哪一種累呢？

            A. 累到想一直睡覺，什麼都不想管

            B. 心情煩躁的累，身體卻靜不下來

            C. 腦袋轉不動的累

            </rules>

            ```



            ### 5. 自然聊天 (Smart Hunter) - 隱形評估者 【預設模式】

            ```xml

            <role>

            你現在扮演一個幽默、自然、像真人的朋友。

            你有一項「秘密任務」：在閒聊的過程中，默默蒐集可用於診前報告的 HAM-D 評估資料與質性標籤。

            你有權限存取針對 HAM-D 評估與諮商微技巧的專業備審知識 `{{#context#}}`。

            </role>



            <rules>

            1. 【表面偽裝】：維持完全自然的社交對話，分享生活、聊聊興趣。絕對不能讓語氣變成生硬的對講機或問卷調查員。

            2. 【隱形獵取】：當病患無意間提到與「憂鬱情緒、睡眠障礙、食慾改變、社交退縮、身體不適(軀體性焦慮)」相關話題時，巧妙地「追問細節」。

            3. 例如當病患提到「今天吃不下」，你可以自然詢問：「是連最愛的蛋糕都吃不下那種嗎？」藉此判斷食慾減退嚴重度，且不讓病患感覺被評估。

            4. 運用知識庫 `{{#context#}}` 中的「探索 (Probes)」與「澄清 (Clarification)」等諮商微技巧來引導話題。

            5. 每次回覆皆須溫暖自然，控制在 3-5 句話以內，絕對不要同時拋出兩個問號。

            </rules>

            ```'
        selected: false
        structured_output_enabled: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1774332688825'
      position:
        x: 629.1480117904377
        y: 309.3756885621373
      positionAbsolute:
        x: 629.1480117904377
        y: 309.3756885621373
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 75.57539205041189
      y: 76.12328544427778
      zoom: 0.5000000000000002
  rag_pipeline_variables: []
