AI_Chatflow_Fresh_Export.yml
app:
  description: AI companion chatflow rebuilt on the latest exported advanced-chat skeleton
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: AI_Chat_Companion_New_Skeleton
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.6.0
workflow:
  conversation_variables:
  - id: pending-question-var
    name: pending_question
    description: Store the latest clarification question so the next turn can answer it
    selector:
    - conversation
    - pending_question
    value: ''
    value_type: string
  - id: risk-flag-var
    name: risk_flag
    description: Whether the latest user turn hit a red flag path
    selector:
    - conversation
    - risk_flag
    value: 'false'
    value_type: string
  - id: red-flag-payload-var
    name: red_flag_payload
    description: Structured JSON-like summary for the latest detected red flag
    selector:
    - conversation
    - red_flag_payload
    value: ''
    value_type: string
  - id: followup-turn-count-var
    name: followup_turn_count
    description: Number of consecutive clarification turns in the current follow-up chain
    selector:
    - conversation
    - followup_turn_count
    value: '0'
    value_type: string
  - id: followup-status-var
    name: followup_status
    description: Current follow-up lifecycle state
    selector:
    - conversation
    - followup_status
    value: none
    value_type: string
  - id: active-mode-var
    name: active_mode
    description: Last resolved routing mode for the current turn
    selector:
    - conversation
    - active_mode
    value: ''
    value_type: string
  - id: latest-tag-payload-var
    name: latest_tag_payload
    description: Structured tag output for the latest normal user turn
    selector:
    - conversation
    - latest_tag_payload
    value: ''
    value_type: string
  - id: hamd-progress-state-var
    name: hamd_progress_state
    description: Structured HAM-D progress snapshot for mission mode
    selector:
    - conversation
    - hamd_progress_state
    value: ''
    value_type: string
  - id: summary-draft-state-var
    name: summary_draft_state
    description: Unified pre-summary state for future clinician draft generation
    selector:
    - conversation
    - summary_draft_state
    value: ''
    value_type: string
  - id: clinician-summary-draft-var
    name: clinician_summary_draft
    description: Clinician-facing draft summary generated from the unified summary state
    selector:
    - conversation
    - clinician_summary_draft
    value: ''
    value_type: string
  - id: routing-mode-override-var
    name: routing_mode_override
    description: Persisted manual routing mode override; empty means auto routing
    selector:
    - conversation
    - routing_mode_override
    value: ''
    value_type: string
  - id: command-feedback-var
    name: command_feedback
    description: Short confirmation text for command-mode switches
    selector:
    - conversation
    - command_feedback
    value: ''
    value_type: string
  - id: patient-review-packet-var
    name: patient_review_packet
    description: Patient-facing review packet generated from clinician summary draft
    selector:
    - conversation
    - patient_review_packet
    value: ''
    value_type: string
  - id: fhir-delivery-draft-var
    name: fhir_delivery_draft
    description: Draft FHIR/TW Core delivery payload generated from reviewed summary state
    selector:
    - conversation
    - fhir_delivery_draft
    value: ''
    value_type: string
  - id: mission-retrieval-audit-var
    name: mission_retrieval_audit
    description: Retrieval governance snapshot for mission mode knowledge usage
    selector:
    - conversation
    - mission_retrieval_audit
    value: ''
    value_type: string
  - id: option-retrieval-audit-var
    name: option_retrieval_audit
    description: Retrieval governance snapshot for option mode knowledge usage
    selector:
    - conversation
    - option_retrieval_audit
    value: ''
    value_type: string
  - id: burden-level-state-var
    name: burden_level_state
    description: Structured burden and response-style state for cognitive load aware routing and replies
    selector:
    - conversation
    - burden_level_state
    value: ''
    value_type: string
  - id: patient-authorization-state-var
    name: patient_authorization_state
    description: Structured review and consent readiness state derived from the patient review packet
    selector:
    - conversation
    - patient_authorization_state
    value: ''
    value_type: string
  - id: delivery-readiness-state-var
    name: delivery_readiness_state
    description: Structured pre-delivery readiness state for FHIR and clinician export workflows
    selector:
    - conversation
    - delivery_readiness_state
    value: ''
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: question-classifier
      id: start-command-detector
      source: start
      sourceHandle: source
      target: command-detector
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: question-classifier
      id: command-none-risk-detector
      source: command-detector
      sourceHandle: cmd_none
      target: risk-detector
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: command-auto-set
      source: command-detector
      sourceHandle: cmd_auto
      target: set-command-auto
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: command-void-set
      source: command-detector
      sourceHandle: cmd_void
      target: set-command-void
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: command-soulmate-set
      source: command-detector
      sourceHandle: cmd_soulmate
      target: set-command-soulmate
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: command-mission-set
      source: command-detector
      sourceHandle: cmd_mission
      target: set-command-mission
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: command-option-set
      source: command-detector
      sourceHandle: cmd_option
      target: set-command-option
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: command-natural-set
      source: command-detector
      sourceHandle: cmd_natural
      target: set-command-natural
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: command-clarify-set
      source: command-detector
      sourceHandle: cmd_clarify
      target: set-command-clarify
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: llm
      id: risk-redflag-structurer
      source: risk-detector
      sourceHandle: red_flag
      target: risk-structurer
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: risk-normal-clear
      source: risk-detector
      sourceHandle: normal
      target: clear-risk-state
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: llm
      id: clear-risk-tag-structurer
      source: clear-risk-state
      sourceHandle: source
      target: tag-structurer
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: assigner
      id: tag-structurer-save
      source: tag-structurer
      sourceHandle: source
      target: save-tag-payload
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: llm
      id: tag-summary-build
      source: save-tag-payload
      sourceHandle: source
      target: burden-level-builder
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: assigner
      id: burden-level-save-edge
      source: burden-level-builder
      sourceHandle: source
      target: save-burden-level
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: llm
      id: burden-level-hamd-edge
      source: save-burden-level
      sourceHandle: source
      target: hamd-progress-tracker
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: assigner
      id: tag-summary-save
      source: summary-draft-builder
      sourceHandle: source
      target: save-summary-draft
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: if-else
      id: save-tag-followup-gate
      source: save-summary-draft
      sourceHandle: source
      target: followup-gate
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: if-else
      id: gate-followup-limit
      source: followup-gate
      sourceHandle: 'true'
      target: followup-limit-gate
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: assigner
      id: risk-structurer-assign
      source: risk-structurer
      sourceHandle: source
      target: set-risk-state
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: llm
      id: set-risk-summary-build
      source: set-risk-state
      sourceHandle: source
      target: summary-draft-builder
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: assigner
      id: risk-summary-save
      source: summary-draft-builder
      sourceHandle: source
      target: save-summary-draft
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: llm
      id: set-risk-safety
      source: save-summary-draft
      sourceHandle: source
      target: safety-response
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: safety-answer-edge
      source: safety-response
      sourceHandle: source
      target: answer-safety
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: question-classifier
      id: gate-followup-resolver
      source: followup-limit-gate
      sourceHandle: 'false'
      target: llm-followup
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: llm
      id: gate-followup-finalize
      source: followup-limit-gate
      sourceHandle: 'true'
      target: llm-followup-final
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: if-else
      id: gate-override
      source: followup-gate
      sourceHandle: 'false'
      target: override-gate
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: question-classifier
      id: override-gate-low-energy
      source: override-gate
      sourceHandle: 'false'
      target: low-energy-detector
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: question-classifier
      id: override-gate-router
      source: override-gate
      sourceHandle: 'true'
      target: override-router
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: question-classifier
      id: low-energy-continue-classifier
      source: low-energy-detector
      sourceHandle: continue_auto
      target: classifier
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: low-energy-option-route
      source: low-energy-detector
      sourceHandle: degrade_option
      target: set-mode-option
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: low-energy-soulmate-route
      source: low-energy-detector
      sourceHandle: degrade_soulmate
      target: set-mode-soulmate
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: override-void
      source: override-router
      sourceHandle: mode_1_void
      target: set-mode-void
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: override-soulmate
      source: override-router
      sourceHandle: mode_2_soulmate
      target: set-mode-soulmate
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: override-mission
      source: override-router
      sourceHandle: mode_3_mission
      target: set-mode-mission
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: override-option
      source: override-router
      sourceHandle: mode_4_option
      target: set-mode-option
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: override-natural
      source: override-router
      sourceHandle: mode_5_natural
      target: set-mode-natural
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: override-clarify
      source: override-router
      sourceHandle: mode_6_clarify
      target: set-mode-clarify
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: classifier-void
      source: classifier
      sourceHandle: mode_1_void
      target: set-mode-void
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: llm
      id: set-mode-void-llm
      source: set-mode-void
      sourceHandle: source
      target: llm-void
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: classifier-soulmate
      source: classifier
      sourceHandle: mode_2_soulmate
      target: set-mode-soulmate
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: llm
      id: set-mode-soulmate-llm
      source: set-mode-soulmate
      sourceHandle: source
      target: llm-soulmate
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: classifier-mission
      source: classifier
      sourceHandle: mode_3_mission
      target: set-mode-mission
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: knowledge-retrieval
      id: set-mode-mission-retrieval
      source: set-mode-mission
      sourceHandle: source
      target: retrieval-mission
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: classifier-option
      source: classifier
      sourceHandle: mode_4_option
      target: set-mode-option
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: knowledge-retrieval
      id: set-mode-option-retrieval
      source: set-mode-option
      sourceHandle: source
      target: retrieval-option
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: classifier-natural
      source: classifier
      sourceHandle: mode_5_natural
      target: set-mode-natural
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: llm
      id: set-mode-natural-llm
      source: set-mode-natural
      sourceHandle: source
      target: llm-natural
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: classifier-clarify
      source: classifier
      sourceHandle: mode_6_clarify
      target: set-mode-clarify
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: llm
      id: set-mode-clarify-llm
      source: set-mode-clarify
      sourceHandle: source
      target: llm-clarify
      targetHandle: target
      type: custom
    - data:
        sourceType: knowledge-retrieval
        targetType: llm
      id: retrieval-mission-audit-edge
      source: retrieval-mission
      sourceHandle: source
      target: mission-retrieval-audit
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: assigner
      id: mission-audit-save-edge
      source: mission-retrieval-audit
      sourceHandle: source
      target: save-mission-retrieval-audit
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: llm
      id: mission-audit-hamd-edge
      source: save-mission-retrieval-audit
      sourceHandle: source
      target: hamd-progress-tracker
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: assigner
      id: hamd-progress-save-edge
      source: hamd-progress-tracker
      sourceHandle: source
      target: save-hamd-progress
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: llm
      id: hamd-summary-build
      source: save-hamd-progress
      sourceHandle: source
      target: summary-draft-builder
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: assigner
      id: hamd-summary-save
      source: summary-draft-builder
      sourceHandle: source
      target: save-summary-draft
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: llm
      id: retrieval-mission-llm
      source: save-summary-draft
      sourceHandle: source
      target: llm-mission
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: llm
      id: summary-clinician-draft-edge
      source: save-summary-draft
      sourceHandle: source
      target: clinician-summary-builder
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: assigner
      id: clinician-draft-save-edge
      source: clinician-summary-builder
      sourceHandle: source
      target: save-clinician-summary
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: llm
      id: clinician-patient-review-edge
      source: save-clinician-summary
      sourceHandle: source
      target: patient-review-builder
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: assigner
      id: patient-review-save-edge
      source: patient-review-builder
      sourceHandle: source
      target: save-patient-review
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: llm
      id: patient-review-authorization-edge
      source: save-patient-review
      sourceHandle: source
      target: patient-authorization-builder
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: assigner
      id: patient-authorization-save-edge
      source: patient-authorization-builder
      sourceHandle: source
      target: save-patient-authorization
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: llm
      id: patient-authorization-fhir-edge
      source: save-patient-authorization
      sourceHandle: source
      target: fhir-delivery-builder
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: assigner
      id: fhir-delivery-save-edge
      source: fhir-delivery-builder
      sourceHandle: source
      target: save-fhir-delivery
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: llm
      id: fhir-readiness-build-edge
      source: save-fhir-delivery
      sourceHandle: source
      target: delivery-readiness-builder
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: assigner
      id: delivery-readiness-save-edge
      source: delivery-readiness-builder
      sourceHandle: source
      target: save-delivery-readiness
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: answer
      id: command-answer-auto
      source: set-command-auto
      sourceHandle: source
      target: answer-command
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: answer
      id: command-answer-void
      source: set-command-void
      sourceHandle: source
      target: answer-command
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: answer
      id: command-answer-soulmate
      source: set-command-soulmate
      sourceHandle: source
      target: answer-command
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: answer
      id: command-answer-mission
      source: set-command-mission
      sourceHandle: source
      target: answer-command
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: answer
      id: command-answer-option
      source: set-command-option
      sourceHandle: source
      target: answer-command
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: answer
      id: command-answer-natural
      source: set-command-natural
      sourceHandle: source
      target: answer-command
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: answer
      id: command-answer-clarify
      source: set-command-clarify
      sourceHandle: source
      target: answer-command
      targetHandle: target
      type: custom
    - data:
        sourceType: knowledge-retrieval
        targetType: llm
      id: retrieval-option-audit-edge
      source: retrieval-option
      sourceHandle: source
      target: option-retrieval-audit
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: assigner
      id: option-audit-save-edge
      source: option-retrieval-audit
      sourceHandle: source
      target: save-option-retrieval-audit
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: llm
      id: option-audit-llm-edge
      source: save-option-retrieval-audit
      sourceHandle: source
      target: llm-option
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: question-classifier
      id: followup-output-classify-edge
      source: llm-followup
      sourceHandle: source
      target: followup-output-classifier
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: followup-output-askmore
      source: followup-output-classifier
      sourceHandle: followup_ask_more
      target: save-pending-followup
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: followup-output-answernow
      source: followup-output-classifier
      sourceHandle: followup_answer_now
      target: clear-pending
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: assigner
      id: followup-final-clear
      source: llm-followup-final
      sourceHandle: source
      target: clear-pending
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: assigner
      id: clarify-save
      source: llm-clarify
      sourceHandle: source
      target: save-pending
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: void-answer-edge
      source: llm-void
      sourceHandle: source
      target: answer-void
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: soulmate-answer-edge
      source: llm-soulmate
      sourceHandle: source
      target: answer-soulmate
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: mission-answer-edge
      source: llm-mission
      sourceHandle: source
      target: answer-mission
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: option-answer-edge
      source: llm-option
      sourceHandle: source
      target: answer-option
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: natural-answer-edge
      source: llm-natural
      sourceHandle: source
      target: answer-natural
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: answer
      id: followup-answer-edge
      source: clear-pending
      sourceHandle: source
      target: answer-followup
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: answer
      id: clarify-answer-edge
      source: save-pending
      sourceHandle: source
      target: answer-clarify
      targetHandle: target
      type: custom
    nodes:
    - data:
        title: Start
        type: start
        variables: []
      id: start
      position:
        x: 80
        y: 420
      positionAbsolute:
        x: 80
        y: 420
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        classes:
        - id: cmd_auto
          name: Auto
        - id: cmd_void
          name: Void
        - id: cmd_soulmate
          name: Soulmate
        - id: cmd_mission
          name: Mission
        - id: cmd_option
          name: Option
        - id: cmd_natural
          name: Natural
        - id: cmd_clarify
          name: Clarify
        - id: cmd_none
          name: None
        instruction: |
          你要判斷使用者這一輪是否在輸入「模式切換指令」。
          只有在使用者明確是在下指令時，才輸出對應類別。
          可接受的指令例子包含：
          auto, /auto, soulmate, /soulmate, mission, /mission, option, /option, natural, /natural, void, /void, clarify, /clarify。
          如果只是正常對話中提到這些字，不算指令，請輸出 cmd_none。
          只輸出一個類別代號。
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: ''
          provider: ''
        query_variable_selector:
        - sys
        - query
        title: Command Detector
        type: question-classifier
      id: command-detector
      position:
        x: 180
        y: 420
      positionAbsolute:
        x: 180
        y: 420
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        classes:
        - id: red_flag
          name: Red Flag
        - id: normal
          name: Normal
        instruction: |
          你是高風險偵測器。
          如果使用者出現自傷、自殺、想消失、活不下去、極端絕望、明確危險、請求立即幫助等危機訊號，輸出 red_flag。
          其餘情況輸出 normal。
          只輸出類別代號，不要解釋。
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: ''
          provider: ''
        query_variable_selector:
        - sys
        - query
        title: Risk Detector
        type: question-classifier
      id: risk-detector
      position:
        x: 340
        y: 120
      positionAbsolute:
        x: 340
        y: 120
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: true
          variable_selector:
          - retrieval-mission
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            你是 mission 路徑的 retrieval 治理節點。
            你的任務不是回答病人，而是評估這次知識檢索值不值得被主回答使用。
            你必須只輸出 JSON，格式固定如下：
            {
              "retrieval_status":"strong_or_weak_or_empty",
              "use_knowledge":"yes_or_no",
              "knowledge_role":"hamd_mapping_or_structuring_or_none",
              "confidence_note":"...",
              "safe_usage_note":"..."
            }
            判斷規則：
            1. 如果檢索內容和本輪目標高度相關，且能幫助症狀整理或 HAM-D 維度推進，可標成 strong。
            2. 如果只有部分相關、內容泛泛、容易讓回答變成衛教長文，標成 weak。
            3. 如果幾乎沒有可用內容，標成 empty，且 use_knowledge 必須是 no。
            4. mission 路徑就算命中 weak，也不能硬套知識庫；應優先維持結構化整理。
            5. `safe_usage_note` 要明確提醒主回答：知識可以怎麼用，或為何不要用。
        title: Mission Retrieval Audit
        type: llm
        vision:
          enabled: false
      id: mission-retrieval-audit
      position:
        x: 1240
        y: 140
      positionAbsolute:
        x: 1240
        y: 140
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: variable
          operation: overwrite
          value:
          - mission-retrieval-audit
          - text
          variable_selector:
          - conversation
          - mission_retrieval_audit
        title: Save Mission Retrieval Audit
        type: assigner
        version: '2'
      id: save-mission-retrieval-audit
      position:
        x: 1540
        y: 140
      positionAbsolute:
        x: 1540
        y: 140
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            你要把高風險訊號整理成簡短 JSON 字串。
            欄位固定為:
            {
              "route_type":"safety",
              "source_mode":"safety",
              "followup_status":"resolved",
              "risk_level":"high",
              "sentiment_tags":["..."],
              "behavioral_tags":["..."],
              "cognitive_tags":["..."],
              "warning_tags":["..."],
              "signals":["..."],
              "summary":"..."
            }
            只輸出 JSON，不要多餘文字。
        title: Risk Structurer
        type: llm
        vision:
          enabled: false
      id: risk-structurer
      position:
        x: 620
        y: 40
      positionAbsolute:
        x: 620
        y: 40
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: constant
          operation: overwrite
          value: 'true'
          variable_selector:
          - conversation
          - risk_flag
        - input_type: variable
          operation: overwrite
          value:
          - risk-structurer
          - text
          variable_selector:
          - conversation
          - red_flag_payload
        - input_type: variable
          operation: overwrite
          value:
          - risk-structurer
          - text
          variable_selector:
          - conversation
          - latest_tag_payload
        - input_type: constant
          operation: overwrite
          value: ''
          variable_selector:
          - conversation
          - pending_question
        - input_type: constant
          operation: overwrite
          value: safety
          variable_selector:
          - conversation
          - active_mode
        title: Set Risk State
        type: assigner
        version: '2'
      id: set-risk-state
      position:
        x: 900
        y: 40
      positionAbsolute:
        x: 900
        y: 40
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: constant
          operation: overwrite
          value: 'false'
          variable_selector:
          - conversation
          - risk_flag
        - input_type: constant
          operation: overwrite
          value: ''
          variable_selector:
          - conversation
          - red_flag_payload
        title: Clear Risk State
        type: assigner
        version: '2'
      id: clear-risk-state
      position:
        x: 620
        y: 180
      positionAbsolute:
        x: 620
        y: 180
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            你是 AI Companion 的安全回應節點。
            先用溫和語氣接住對方。
            明確鼓勵立刻聯絡身邊可信任的人、當地緊急服務或危機協助資源。
            不要轉進一般聊天，也不要進行一般任務引導。
            回覆保持簡潔、直接、以安全為優先。
        title: Safety Response
        type: llm
        vision:
          enabled: false
      id: safety-response
      position:
        x: 1180
        y: 40
      positionAbsolute:
        x: 1180
        y: 40
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            你要把目前對話狀態整理成一份統一的摘要草稿 JSON。
            固定欄位：
            {
              "active_mode":"...",
              "risk_flag":"true_or_false",
              "followup_status":"...",
              "latest_tags":"...",
              "red_flags":"...",
              "hamd_progress":"...",
              "draft_summary":"..."
            }
            latest_tags 直接摘要目前的 latest_tag_payload。
            red_flags 直接摘要目前的 red_flag_payload。
            hamd_progress 直接摘要目前的 hamd_progress_state。
            draft_summary 請用一到兩句話總結目前最值得進摘要的重點。
            只輸出 JSON。
        title: Summary Draft Builder
        type: llm
        vision:
          enabled: false
      id: summary-draft-builder
      position:
        x: 1460
        y: 120
      positionAbsolute:
        x: 1460
        y: 120
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: variable
          operation: overwrite
          value:
          - summary-draft-builder
          - text
          variable_selector:
          - conversation
          - summary_draft_state
        title: Save Summary Draft
        type: assigner
        version: '2'
      id: save-summary-draft
      position:
        x: 1740
        y: 120
      positionAbsolute:
        x: 1740
        y: 120
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            你要把目前的 summary_draft_state 整理成「可交付給醫師或臨床團隊閱讀的診前摘要草稿」。
            目標不是做診斷，而是整理觀察到的重點、風險、HAM-D 線索與待追問處。
            請輸出固定 JSON：
            {
              "summary_version":"p1_clinician_draft_v1",
              "active_mode":"...",
              "risk_level":"none_or_watch_or_high",
              "chief_concerns":["..."],
              "symptom_observations":["..."],
              "hamd_signals":["..."],
              "followup_needs":["..."],
              "safety_flags":["..."],
              "patient_tone":"...",
              "draft_summary":"..."
            }
            規則：
            1. risk_level 只能是 none、watch、high。
            2. chief_concerns 用 1 到 3 條短語整理主要困擾。
            3. symptom_observations 聚焦情緒、行為、認知線索。
            4. hamd_signals 只整理目前已有證據的 HAM-D 維度線索，不要臆測。
            5. followup_needs 若目前資訊足夠可為空陣列。
            6. safety_flags 根據 red_flags 與 risk_flag 整理，若沒有則為空陣列。
            7. patient_tone 用一句短語描述整體語氣，例如 low_energy、distressed、guarded、stable。
            8. draft_summary 用 2 到 4 句中文，寫成中性、可讀、臨床前摘要口吻。
            目前 summary_draft_state：{{#conversation.summary_draft_state#}}
            只輸出 JSON，不要加任何解釋。
        title: Clinician Summary Builder
        type: llm
        vision:
          enabled: false
      id: clinician-summary-builder
      position:
        x: 2020
        y: 120
      positionAbsolute:
        x: 2020
        y: 120
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: variable
          operation: overwrite
          value:
          - clinician-summary-builder
          - text
          variable_selector:
          - conversation
          - clinician_summary_draft
        title: Save Clinician Summary
        type: assigner
        version: '2'
      id: save-clinician-summary
      position:
        x: 2300
        y: 120
      positionAbsolute:
        x: 2300
        y: 120
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            你要把目前的 clinician_summary_draft 整理成「給病人自己審閱」的摘要包。
            目標是讓病人知道 AI 整理了什麼、哪些內容可確認、哪些內容仍是推定，並提醒需要授權後才能交付。
            請輸出固定 JSON：
            {
              "packet_version":"p3_patient_review_v1",
              "status":"draft_review",
              "patient_facing_summary":"...",
              "confirm_items":["..."],
              "editable_items":["..."],
              "remove_if_wrong":["..."],
              "authorization_needed":"yes",
              "authorization_prompt":"..."
            }
            規則：
            1. patient_facing_summary 用 2 到 4 句中文，語氣溫和、易懂，不要用太重的臨床術語。
            2. confirm_items 是建議病人確認的重點。
            3. editable_items 是可請病人補充或修正的內容。
            4. remove_if_wrong 是若 AI 可能推定錯誤，病人可刪除的內容。
            5. authorization_prompt 要明確說明：審閱後才能授權提供給醫師。
            目前 clinician_summary_draft：{{#conversation.clinician_summary_draft#}}
            只輸出 JSON，不要加解釋。
        title: Patient Review Builder
        type: llm
        vision:
          enabled: false
      id: patient-review-builder
      position:
        x: 2580
        y: 120
      positionAbsolute:
        x: 2580
        y: 120
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: variable
          operation: overwrite
          value:
          - patient-review-builder
          - text
          variable_selector:
          - conversation
          - patient_review_packet
        title: Save Patient Review
        type: assigner
        version: '2'
      id: save-patient-review
      position:
        x: 2860
        y: 120
      positionAbsolute:
        x: 2860
        y: 120
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            你要把目前的 patient_review_packet 與 clinician_summary_draft 整理成「病人審閱 / 授權狀態」。
            這不是 UI 動作結果，而是供後續交付流程使用的結構化狀態。
            請輸出固定 JSON：
            {
              "state_version":"p3_authorization_state_v1",
              "authorization_status":"review_required_or_ready_for_consent_orneeds_revision_orwithhold",
              "share_with_clinician":"yes_or_no",
              "review_blockers":["..."],
              "patient_actions":["..."],
              "restricted_sections":["..."],
              "consent_note":"..."
            }
            規則：
            1. 如果資料仍明顯是 AI 推定、需要病人先看過，authorization_status 應偏向 review_required。
            2. 如果內容已相對清楚，但仍需要病人明確同意，authorization_status 可為 ready_for_consent。
            3. 若摘要裡有明顯不確定或高風險敏感內容需病人修正，使用 needs_revision。
            4. 若有明顯不應直接分享的敏感推定，可用 restricted_sections 標出。
            5. `share_with_clinician` 只表示目前是否適合進入下一步，不代表真的已完成按鈕式授權。
            clinician_summary_draft：{{#conversation.clinician_summary_draft#}}
            patient_review_packet：{{#conversation.patient_review_packet#}}
            只輸出 JSON，不要加解釋。
        title: Patient Authorization Builder
        type: llm
        vision:
          enabled: false
      id: patient-authorization-builder
      position:
        x: 3140
        y: 0
      positionAbsolute:
        x: 3140
        y: 0
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: variable
          operation: overwrite
          value:
          - patient-authorization-builder
          - text
          variable_selector:
          - conversation
          - patient_authorization_state
        title: Save Patient Authorization
        type: assigner
        version: '2'
      id: save-patient-authorization
      position:
        x: 3420
        y: 0
      positionAbsolute:
        x: 3420
        y: 0
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            你要把目前的 clinician_summary_draft、patient_review_packet、patient_authorization_state、red_flag_payload、hamd_progress_state 整理成「FHIR / TW Core 映射草稿」。
            這不是最終 server payload，而是交付前的結構化 draft。
            請輸出固定 JSON：
            {
              "draft_version":"p3_fhir_delivery_v1",
              "delivery_status":"pre_review_or_ready_for_mapping_orblocked",
              "consent_gate":"review_required_or_ready_for_consent_orblocked",
              "resources":[
                {"resource_type":"Composition","status":"preliminary","purpose":"clinical_summary"},
                {"resource_type":"Observation","status":"preliminary","purpose":"hamd_signal_tracking"},
                {"resource_type":"ClinicalImpression","status":"preliminary","purpose":"risk_and_context"},
                {"resource_type":"QuestionnaireResponse","status":"preliminary","purpose":"dialogue_to_scale_mapping"}
              ],
              "composition_sections":[{"section":"...","focus":"..."}],
              "observation_candidates":[{"focus":"...","category":"...","status":"preliminary"}],
              "clinical_alerts":["..."],
              "questionnaire_targets":["..."],
              "patient_review_required":"yes_or_no",
              "export_blockers":["..."],
              "notes":"..."
            }
            規則：
            1. resources 先固定用 preliminary，因為尚未病人最終授權。
            2. composition_sections 整理會放進摘要文件的段落。
            3. observation_candidates 整理情緒、行為、認知、睡眠、焦慮等可映射 Observation 的重點。
            4. clinical_alerts 整理風險與需要醫師注意的事項。
            5. questionnaire_targets 整理目前可映射到量表或 HAM-D 線索的面向。
            6. 若病人審閱或授權尚未完成，不可把 delivery_status 寫成 ready_for_mapping。
            7. export_blockers 要明確指出授權、內容修正、欄位不足等阻塞因素。
            8. notes 說明這仍是交付前 draft，不是最終正式醫療文件。
            clinician_summary_draft：{{#conversation.clinician_summary_draft#}}
            patient_review_packet：{{#conversation.patient_review_packet#}}
            patient_authorization_state：{{#conversation.patient_authorization_state#}}
            red_flag_payload：{{#conversation.red_flag_payload#}}
            hamd_progress_state：{{#conversation.hamd_progress_state#}}
            只輸出 JSON，不要加解釋。
        title: FHIR Delivery Builder
        type: llm
        vision:
          enabled: false
      id: fhir-delivery-builder
      position:
        x: 3140
        y: 120
      positionAbsolute:
        x: 3140
        y: 120
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            你要根據目前的 fhir_delivery_draft、patient_authorization_state、clinician_summary_draft，整理成「交付 readiness 狀態」。
            請輸出固定 JSON：
            {
              "state_version":"p3_delivery_readiness_v1",
              "readiness_status":"blocked_or_review_needed_orready_for_backend_mapping",
              "primary_blockers":["..."],
              "next_step":"...",
              "provenance_requirements":["..."],
              "handoff_note":"..."
            }
            規則：
            1. 若病人尚未完成審閱或同意，不可標成 ready_for_backend_mapping。
            2. 若 FHIR draft 已有明確資源方向，但仍缺授權或需病人修正，可標 review_needed。
            3. `provenance_requirements` 要列出之後真正送 backend / FHIR server 前該保留的來源資訊。
            4. `handoff_note` 用一句到兩句中文說明目前最適合的下一步。
            fhir_delivery_draft：{{#conversation.fhir_delivery_draft#}}
            patient_authorization_state：{{#conversation.patient_authorization_state#}}
            clinician_summary_draft：{{#conversation.clinician_summary_draft#}}
            只輸出 JSON，不要加解釋。
        title: Delivery Readiness Builder
        type: llm
        vision:
          enabled: false
      id: delivery-readiness-builder
      position:
        x: 3700
        y: 120
      positionAbsolute:
        x: 3700
        y: 120
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: variable
          operation: overwrite
          value:
          - delivery-readiness-builder
          - text
          variable_selector:
          - conversation
          - delivery_readiness_state
        title: Save Delivery Readiness
        type: assigner
        version: '2'
      id: save-delivery-readiness
      position:
        x: 3980
        y: 120
      positionAbsolute:
        x: 3980
        y: 120
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: variable
          operation: overwrite
          value:
          - fhir-delivery-builder
          - text
          variable_selector:
          - conversation
          - fhir_delivery_draft
        title: Save FHIR Delivery
        type: assigner
        version: '2'
      id: save-fhir-delivery
      position:
        x: 3420
        y: 120
      positionAbsolute:
        x: 3420
        y: 120
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            你要根據本輪使用者輸入，輸出簡短 JSON 字串。
            固定欄位：
            {
              "route_type":"normal",
              "source_mode":"{{#conversation.active_mode#}}",
              "followup_status":"{{#conversation.followup_status#}}",
              "sentiment_tags":["..."],
              "behavioral_tags":["..."],
              "cognitive_tags":["..."],
              "warning_tags":["..."],
              "summary":"..."
            }
            如果某類沒有內容就輸出空陣列。
            你要根據目前狀態判斷 route_type:
            - 若 `followup_status` 是 pending 或目前在 follow-up 鏈上，route_type 應偏向 followup
            - 否則 route_type 為 normal
            只輸出 JSON，不要加解釋。
        title: Tag Structurer
        type: llm
        vision:
          enabled: false
      id: tag-structurer
      position:
        x: 900
        y: 180
      positionAbsolute:
        x: 900
        y: 180
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: variable
          operation: overwrite
          value:
          - tag-structurer
          - text
          variable_selector:
          - conversation
          - latest_tag_payload
        title: Save Tag Payload
        type: assigner
        version: '2'
      id: save-tag-payload
      position:
        x: 1180
        y: 180
      positionAbsolute:
        x: 1180
        y: 180
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            你要根據這一輪使用者輸入、目前標籤與對話狀態，判斷病人的互動負擔。
            只輸出 JSON，不要解釋。
            固定格式：
            {
              "burden_level":"low_or_medium_or_high",
              "response_style":"natural_or_supportive_or_structured_or_option_first",
              "followup_budget":"0_or_1",
              "burden_note":"..."
            }
            規則：
            1. `high` 代表低能量、講不清楚、負擔高、容易被過度追問壓垮。
            2. `medium` 代表可對話，但仍需控制問題數量與訊息密度。
            3. `low` 代表目前可承受較正常的自然互動或結構化整理。
            4. `response_style` 只能是 natural、supportive、structured、option_first 其中之一。
            5. 若使用者很短句、模糊、說不知道、都可以、嗯、隨便，傾向 `high` 且 `option_first`。
            6. 若使用者情緒承載高、需要先被接住，傾向 `supportive`。
            7. 若使用者明確要整理任務且可承受，才可偏向 `structured`。
            8. `followup_budget` 只可填 0 或 1；高負擔通常是 0。
            目前標籤：{{#conversation.latest_tag_payload#}}
            目前模式：{{#conversation.active_mode#}}
            目前 follow-up 狀態：{{#conversation.followup_status#}}
        title: Burden Level Builder
        type: llm
        vision:
          enabled: false
      id: burden-level-builder
      position:
        x: 1240
        y: 140
      positionAbsolute:
        x: 1240
        y: 140
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: variable
          operation: overwrite
          value:
          - burden-level-builder
          - text
          variable_selector:
          - conversation
          - burden_level_state
        title: Save Burden Level
        type: assigner
        version: '2'
      id: save-burden-level
      position:
        x: 1540
        y: 140
      positionAbsolute:
        x: 1540
        y: 140
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: constant
          operation: overwrite
          value: ''
          variable_selector:
          - conversation
          - routing_mode_override
        - input_type: constant
          operation: overwrite
          value: ''
          variable_selector:
          - conversation
          - active_mode
        - input_type: constant
          operation: overwrite
          value: ''
          variable_selector:
          - conversation
          - pending_question
        - input_type: constant
          operation: overwrite
          value: '0'
          variable_selector:
          - conversation
          - followup_turn_count
        - input_type: constant
          operation: overwrite
          value: resolved
          variable_selector:
          - conversation
          - followup_status
        - input_type: constant
          operation: overwrite
          value: 已切回 auto 模式，之後會重新依照使用者語氣與內容自動分流。
          variable_selector:
          - conversation
          - command_feedback
        title: Set Command Auto
        type: assigner
        version: '2'
      id: set-command-auto
      position:
        x: 720
        y: 980
      positionAbsolute:
        x: 720
        y: 980
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: constant
          operation: overwrite
          value: mode_1_void
          variable_selector:
          - conversation
          - routing_mode_override
        - input_type: constant
          operation: overwrite
          value: mode_1_void
          variable_selector:
          - conversation
          - active_mode
        - input_type: constant
          operation: overwrite
          value: ''
          variable_selector:
          - conversation
          - pending_question
        - input_type: constant
          operation: overwrite
          value: '0'
          variable_selector:
          - conversation
          - followup_turn_count
        - input_type: constant
          operation: overwrite
          value: resolved
          variable_selector:
          - conversation
          - followup_status
        - input_type: constant
          operation: overwrite
          value: 已切換到 void 模式，之後會優先維持樹洞式接住，直到你輸入其他模式指令或 auto。
          variable_selector:
          - conversation
          - command_feedback
        title: Set Command Void
        type: assigner
        version: '2'
      id: set-command-void
      position:
        x: 940
        y: 980
      positionAbsolute:
        x: 940
        y: 980
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: constant
          operation: overwrite
          value: mode_2_soulmate
          variable_selector:
          - conversation
          - routing_mode_override
        - input_type: constant
          operation: overwrite
          value: mode_2_soulmate
          variable_selector:
          - conversation
          - active_mode
        - input_type: constant
          operation: overwrite
          value: ''
          variable_selector:
          - conversation
          - pending_question
        - input_type: constant
          operation: overwrite
          value: '0'
          variable_selector:
          - conversation
          - followup_turn_count
        - input_type: constant
          operation: overwrite
          value: resolved
          variable_selector:
          - conversation
          - followup_status
        - input_type: constant
          operation: overwrite
          value: 已切換到 soulmate 模式，之後會優先維持陪伴式互動，直到你輸入其他模式指令或 auto。
          variable_selector:
          - conversation
          - command_feedback
        title: Set Command Soulmate
        type: assigner
        version: '2'
      id: set-command-soulmate
      position:
        x: 1160
        y: 980
      positionAbsolute:
        x: 1160
        y: 980
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: constant
          operation: overwrite
          value: mode_3_mission
          variable_selector:
          - conversation
          - routing_mode_override
        - input_type: constant
          operation: overwrite
          value: mode_3_mission
          variable_selector:
          - conversation
          - active_mode
        - input_type: constant
          operation: overwrite
          value: ''
          variable_selector:
          - conversation
          - pending_question
        - input_type: constant
          operation: overwrite
          value: '0'
          variable_selector:
          - conversation
          - followup_turn_count
        - input_type: constant
          operation: overwrite
          value: resolved
          variable_selector:
          - conversation
          - followup_status
        - input_type: constant
          operation: overwrite
          value: 已切換到 mission 模式，之後會優先維持任務整理與診前引導，直到你輸入其他模式指令或 auto。
          variable_selector:
          - conversation
          - command_feedback
        title: Set Command Mission
        type: assigner
        version: '2'
      id: set-command-mission
      position:
        x: 1380
        y: 980
      positionAbsolute:
        x: 1380
        y: 980
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: constant
          operation: overwrite
          value: mode_4_option
          variable_selector:
          - conversation
          - routing_mode_override
        - input_type: constant
          operation: overwrite
          value: mode_4_option
          variable_selector:
          - conversation
          - active_mode
        - input_type: constant
          operation: overwrite
          value: ''
          variable_selector:
          - conversation
          - pending_question
        - input_type: constant
          operation: overwrite
          value: '0'
          variable_selector:
          - conversation
          - followup_turn_count
        - input_type: constant
          operation: overwrite
          value: resolved
          variable_selector:
          - conversation
          - followup_status
        - input_type: constant
          operation: overwrite
          value: 已切換到 option 模式，之後會優先用低負擔選項式互動，同時保留量表線索，直到你輸入其他模式指令或 auto。
          variable_selector:
          - conversation
          - command_feedback
        title: Set Command Option
        type: assigner
        version: '2'
      id: set-command-option
      position:
        x: 1600
        y: 980
      positionAbsolute:
        x: 1600
        y: 980
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: constant
          operation: overwrite
          value: mode_5_natural
          variable_selector:
          - conversation
          - routing_mode_override
        - input_type: constant
          operation: overwrite
          value: mode_5_natural
          variable_selector:
          - conversation
          - active_mode
        - input_type: constant
          operation: overwrite
          value: ''
          variable_selector:
          - conversation
          - pending_question
        - input_type: constant
          operation: overwrite
          value: '0'
          variable_selector:
          - conversation
          - followup_turn_count
        - input_type: constant
          operation: overwrite
          value: resolved
          variable_selector:
          - conversation
          - followup_status
        - input_type: constant
          operation: overwrite
          value: 已切換到 natural 模式，之後會優先用自然互動蒐集線索，直到你輸入其他模式指令或 auto。
          variable_selector:
          - conversation
          - command_feedback
        title: Set Command Natural
        type: assigner
        version: '2'
      id: set-command-natural
      position:
        x: 1820
        y: 980
      positionAbsolute:
        x: 1820
        y: 980
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: constant
          operation: overwrite
          value: mode_6_clarify
          variable_selector:
          - conversation
          - routing_mode_override
        - input_type: constant
          operation: overwrite
          value: mode_6_clarify
          variable_selector:
          - conversation
          - active_mode
        - input_type: constant
          operation: overwrite
          value: ''
          variable_selector:
          - conversation
          - pending_question
        - input_type: constant
          operation: overwrite
          value: '0'
          variable_selector:
          - conversation
          - followup_turn_count
        - input_type: constant
          operation: overwrite
          value: resolved
          variable_selector:
          - conversation
          - followup_status
        - input_type: constant
          operation: overwrite
          value: 已切換到 clarify 模式，之後會優先用最小補問來釐清資訊，直到你輸入其他模式指令或 auto。
          variable_selector:
          - conversation
          - command_feedback
        title: Set Command Clarify
        type: assigner
        version: '2'
      id: set-command-clarify
      position:
        x: 2040
        y: 980
      positionAbsolute:
        x: 2040
        y: 980
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: constant
          operation: overwrite
          value: mode_1_void
          variable_selector:
          - conversation
          - active_mode
        title: Set Active Mode Void
        type: assigner
        version: '2'
      id: set-mode-void
      position:
        x: 900
        y: 20
      positionAbsolute:
        x: 900
        y: 20
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: constant
          operation: overwrite
          value: mode_2_soulmate
          variable_selector:
          - conversation
          - active_mode
        title: Set Active Mode Soulmate
        type: assigner
        version: '2'
      id: set-mode-soulmate
      position:
        x: 900
        y: 180
      positionAbsolute:
        x: 900
        y: 180
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: constant
          operation: overwrite
          value: mode_3_mission
          variable_selector:
          - conversation
          - active_mode
        title: Set Active Mode Mission
        type: assigner
        version: '2'
      id: set-mode-mission
      position:
        x: 900
        y: 300
      positionAbsolute:
        x: 900
        y: 300
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: constant
          operation: overwrite
          value: mode_4_option
          variable_selector:
          - conversation
          - active_mode
        title: Set Active Mode Option
        type: assigner
        version: '2'
      id: set-mode-option
      position:
        x: 900
        y: 480
      positionAbsolute:
        x: 900
        y: 480
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: constant
          operation: overwrite
          value: mode_5_natural
          variable_selector:
          - conversation
          - active_mode
        title: Set Active Mode Natural
        type: assigner
        version: '2'
      id: set-mode-natural
      position:
        x: 900
        y: 660
      positionAbsolute:
        x: 900
        y: 660
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: constant
          operation: overwrite
          value: mode_6_clarify
          variable_selector:
          - conversation
          - active_mode
        title: Set Active Mode Clarify
        type: assigner
        version: '2'
      id: set-mode-clarify
      position:
        x: 900
        y: 840
      positionAbsolute:
        x: 900
        y: 840
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        cases:
        - case_id: override_active
          conditions:
          - comparison_operator: is not empty
            variable_selector:
            - conversation
            - routing_mode_override
        title: Override Gate
        type: if-else
      id: override-gate
      position:
        x: 500
        y: 520
      positionAbsolute:
        x: 500
        y: 520
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        cases:
        - case_id: pending_not_empty
          conditions:
          - comparison_operator: is not empty
            variable_selector:
            - conversation
            - pending_question
        title: Follow-up Gate
        type: if-else
      id: followup-gate
      position:
        x: 340
        y: 420
      positionAbsolute:
        x: 340
        y: 420
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        cases:
        - case_id: limit_reached
          conditions:
          - comparison_operator: is
            value: '2'
            variable_selector:
            - conversation
            - followup_turn_count
        title: Follow-up Limit Gate
        type: if-else
      id: followup-limit-gate
      position:
        x: 620
        y: 160
      positionAbsolute:
        x: 620
        y: 160
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        classes:
        - id: mode_1_void
          name: Void Box
        - id: mode_2_soulmate
          name: Soul Mate
        - id: mode_3_mission
          name: Mission Guide
        - id: mode_4_option
          name: Option Selector
        - id: mode_5_natural
          name: Smart Hunter
        - id: mode_6_clarify
          name: Clarify
        instruction: |
          你是意圖分類器。
          請只輸出最符合的一個類別代號，不要解釋。
          1. mode_1_void: 空白、測試、無意義輸入
          2. mode_2_soulmate: 需要陪伴、共感、情緒支持，或此刻比較需要被接住而不是被整理
          3. mode_3_mission: 明確要整理、準備回診、形成重點、完成任務，且看起來有足夠心力做較結構化整理
          4. mode_4_option: 低能量、短句、講不清楚、負擔高、選不出來、需要低負擔支架，或雖然需要整理但目前不適合直接進 mission
          5. mode_5_natural: 一般自然對話、日常聊天、延續話題，可在自然互動中慢慢蒐集線索
          6. mode_6_clarify: 資訊不足，需要先補一個關鍵問題
          額外規則：
          - 若輸入很短、模糊、負擔高，優先考慮 mode_4_option。
          - 若情緒明顯、需要被接住，優先考慮 mode_2_soulmate。
          - 只有在使用者明確想整理、準備、列重點、形成回診摘要時，才優先考慮 mode_3_mission。
          - mode_5_natural 不是純閒聊；但如果當下病人認知負擔高，仍應降到 mode_4_option。
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: ''
          provider: ''
        query_variable_selector:
        - sys
        - query
        title: Intent Classifier
        type: question-classifier
      id: classifier
      position:
        x: 620
        y: 280
      positionAbsolute:
        x: 620
        y: 280
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        classes:
        - id: degrade_option
          name: Degrade To Option
        - id: degrade_soulmate
          name: Degrade To Soulmate
        - id: continue_auto
          name: Continue Auto
        instruction: |
          你是低能量與認知負擔偵測器。
          目的是在正式意圖分類前，先判斷這一輪是否應該自動降級到更低負擔的互動模式。
          請只輸出一個類別代號。
          規則：
          - 若使用者呈現很短句、模糊、無法組織、明顯低能量、只回不知道/都可以/嗯/隨便、看起來不適合直接做整理，輸出 degrade_option。
          - 若使用者明顯需要先被接住、情緒承載高、脆弱、委屈、想被陪伴，而不是被推進任務，輸出 degrade_soulmate。
          - 若目前看起來仍可正常進入一般分流，輸出 continue_auto。
          - 這個節點是降級保護，不要因為輕微負面情緒就過度攔截 mission。
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: ''
          provider: ''
        query_variable_selector:
        - sys
        - query
        title: Low Energy Detector
        type: question-classifier
      id: low-energy-detector
      position:
        x: 620
        y: 520
      positionAbsolute:
        x: 620
        y: 520
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        classes:
        - id: mode_1_void
          name: Void Box
        - id: mode_2_soulmate
          name: Soul Mate
        - id: mode_3_mission
          name: Mission Guide
        - id: mode_4_option
          name: Option Selector
        - id: mode_5_natural
          name: Smart Hunter
        - id: mode_6_clarify
          name: Clarify
        instruction: |
          你要根據 `routing_mode_override` 的值，輸出對應的 mode 類別。
          只輸出一個類別代號，不要解釋。
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: ''
          provider: ''
        query_variable_selector:
        - conversation
        - routing_mode_override
        title: Override Router
        type: question-classifier
      id: override-router
      position:
        x: 700
        y: 520
      positionAbsolute:
        x: 700
        y: 520
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            你要處理沒有內容或無法辨識的輸入。
            請用一句簡短提醒，請使用者輸入更完整的問題。
        title: Void Box
        type: llm
        vision:
          enabled: false
      id: llm-void
      position:
        x: 940
        y: 20
      positionAbsolute:
        x: 940
        y: 20
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.5
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            你是一個溫暖、像真人的朋友。
            規則：
            1. 先接住情緒，再回應。
            2. 不要像客服，不要像問卷。
            3. 回覆要自然、短一點。
        title: Soul Mate
        type: llm
        vision:
          enabled: false
      id: llm-soulmate
      position:
        x: 940
        y: 180
      positionAbsolute:
        x: 940
        y: 180
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        dataset_ids:
        - JB1PuOSPlWXMsgVAkT5B4u/hSkfNYLAS+G+Zmysp3Fhot7pSACV7KyX378KBhRU7
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          top_k: 2
        query_attachment_selector: []
        query_variable_selector:
        - sys
        - query
        retrieval_mode: multiple
        title: Mission Retrieval
        type: knowledge-retrieval
      id: retrieval-mission
      position:
        x: 940
        y: 300
      positionAbsolute:
        x: 940
        y: 300
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            你要根據本輪使用者輸入、既有狀態與目前已累積的標籤摘要，更新 HAM-D 線索狀態。
            這個節點不只服務 mission，也服務 option、natural、clarify 與 follow-up 前的自然蒐集。
            也就是說：只要這一輪對話出現可映射到量表的線索，就應該進狀態。
            可用維度集合固定為：
            ["depressed_mood","guilt","work_interest","retardation","agitation","somatic_anxiety","insomnia"]
            固定欄位：
            {
              "progress_stage":"...",
              "current_focus":"...",
              "supported_dimensions":["..."],
              "covered_dimensions":["..."],
              "missing_dimensions":["..."],
              "next_recommended_dimension":"...",
              "recent_evidence":["..."],
              "needs_clarification":"yes_or_no",
              "status_summary":"..."
            }
            若沒有既有狀態，可從空白開始。
            舊狀態：{{#conversation.hamd_progress_state#}}
            目前標籤：{{#conversation.latest_tag_payload#}}
            目前摘要：{{#conversation.summary_draft_state#}}
            目前模式：{{#conversation.active_mode#}}
            規則：
            1. 只根據目前輸入與既有狀態整理「有證據的線索」，不要臆測。
            2. `option`、`natural`、`clarify`、`follow-up` 若出現症狀內容，也應更新到相關維度。
            3. 若本輪沒有新增量表相關線索，可保留既有狀態，但仍要輸出完整 JSON。
            4. `supported_dimensions` 可列出本輪有被觸及的維度；`covered_dimensions` 表示整體已累積到的維度。
            5. `next_recommended_dimension` 應根據目前缺口與病人負擔，選一個最值得後續自然追蹤的維度。
            你必須讓 `covered_dimensions` 和 `missing_dimensions` 都只使用上述固定代號。
            目前 mission retrieval 治理：{{#conversation.mission_retrieval_audit#}}
            目前負擔狀態：{{#conversation.burden_level_state#}}
            只輸出 JSON，不要加解釋。
        title: HAM-D Progress Tracker
        type: llm
        vision:
          enabled: false
      id: hamd-progress-tracker
      position:
        x: 1240
        y: 220
      positionAbsolute:
        x: 1240
        y: 220
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: variable
          operation: overwrite
          value:
          - hamd-progress-tracker
          - text
          variable_selector:
          - conversation
          - hamd_progress_state
        title: Save HAM-D Progress
        type: assigner
        version: '2'
      id: save-hamd-progress
      position:
        x: 1540
        y: 220
      positionAbsolute:
        x: 1540
        y: 220
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: true
          variable_selector:
          - retrieval-mission
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.6
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            你是任務導向的引導助手。
            目標是幫病人做診前整理，而不是一般陪聊。
            規則：
            1. 先回應使用者的核心整理目標。
            2. 只有在有助於診前整理、回診準備、症狀梳理、HAM-D 維度推進時，才使用知識庫內容。
            3. 輸出要清楚、分段、可行，但不要像在填問卷。
            4. 每次只推進一個最重要的 HAM-D 面向。
            5. 如果看出病人負擔很高，就把步驟縮小，不要一次推太多。
            6. 知識庫在這條路徑上的用途，是幫你做結構化整理與症狀映射，不是做泛泛的衛教長文。
            7. 如果 `mission_retrieval_audit` 顯示 weak 或 empty，就不要硬套知識內容，改用已有狀態與病人原話做整理。
            8. 如果 `burden_level_state` 顯示 high 或 `response_style` 偏 option_first / supportive，就先縮小任務、降低資訊密度。
            目前 HAM-D 狀態：{{#conversation.hamd_progress_state#}}
            目前標籤狀態：{{#conversation.latest_tag_payload#}}
            目前 retrieval 治理：{{#conversation.mission_retrieval_audit#}}
            目前負擔狀態：{{#conversation.burden_level_state#}}
            如果 `next_recommended_dimension` 有值，優先圍繞那個維度前進。
        title: Mission Guide
        type: llm
        vision:
          enabled: false
      id: llm-mission
      position:
        x: 1240
        y: 300
      positionAbsolute:
        x: 1240
        y: 300
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        dataset_ids:
        - JB1PuOSPlWXMsgVAkT5B4u/hSkfNYLAS+G+Zmysp3Fhot7pSACV7KyX378KBhRU7
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          top_k: 3
        query_attachment_selector: []
        query_variable_selector:
        - sys
        - query
        retrieval_mode: multiple
        title: Option Retrieval
        type: knowledge-retrieval
      id: retrieval-option
      position:
        x: 940
        y: 480
      positionAbsolute:
        x: 940
        y: 480
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: true
          variable_selector:
          - retrieval-option
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            你是 option 路徑的 retrieval 治理節點。
            你的任務不是回答病人，而是判斷這次檢索是否真的能幫忙產生更貼近狀態的短選項。
            你必須只輸出 JSON，格式固定如下：
            {
              "retrieval_status":"strong_or_weak_or_empty",
              "use_knowledge":"yes_or_no",
              "knowledge_role":"option_shaping_or_none",
              "confidence_note":"...",
              "safe_usage_note":"..."
            }
            判斷規則：
            1. 只有當檢索內容能直接幫助選項更貼近病人狀態、更省力時，才可標成 strong。
            2. 如果內容太抽象、太長、太像衛教，標成 weak。
            3. 如果沒有明顯可用內容，標成 empty，且 use_knowledge 必須是 no。
            4. option 路徑不能因為有知識庫就變成分析報告；弱命中時寧可不用。
            5. `safe_usage_note` 要清楚說明知識最多只能如何輕量使用。
            6. 若 `burden_level_state` 顯示 high，`safe_usage_note` 應偏向「盡量不用知識、直接給短選項」。
        title: Option Retrieval Audit
        type: llm
        vision:
          enabled: false
      id: option-retrieval-audit
      position:
        x: 1240
        y: 400
      positionAbsolute:
        x: 1240
        y: 400
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: variable
          operation: overwrite
          value:
          - option-retrieval-audit
          - text
          variable_selector:
          - conversation
          - option_retrieval_audit
        title: Save Option Retrieval Audit
        type: assigner
        version: '2'
      id: save-option-retrieval-audit
      position:
        x: 1540
        y: 400
      positionAbsolute:
        x: 1540
        y: 400
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: true
          variable_selector:
          - retrieval-option
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.4
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            你是低負擔選項助手。
            目標不是做完整分析，而是用最省力的方式，幫病人從當下狀態往前一步。
            規則：
            1. 先用一句短同理接住對方。
            2. 再提供 2 到 3 個低負擔選項，不要太多。
            3. 若知識庫有內容，只能拿來幫助你把選項設計得更合適，不要輸出像報告。
            4. 選項要短、可回覆、可直接作答，適合低能量或講不清楚的病人。
            5. 不要列長篇優缺點分析，避免增加認知負擔。
            6. 知識庫在這條路徑上的用途，是幫你設計更貼近病人狀態的短選項，不是做完整教育或深度分析。
            7. 如果 `option_retrieval_audit` 顯示 weak 或 empty，就不要引用知識內容，直接根據病人原話設計短選項。
            8. 如果 `burden_level_state` 顯示 high，選項要更短、更可直接作答。
            目前 retrieval 治理：{{#conversation.option_retrieval_audit#}}
            目前負擔狀態：{{#conversation.burden_level_state#}}
        title: Option Selector
        type: llm
        vision:
          enabled: false
      id: llm-option
      position:
        x: 1240
        y: 480
      positionAbsolute:
        x: 1240
        y: 480
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.5
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            你是一個自然、溫暖、像真人的朋友。
            你的任務是用自然對話陪伴病人，同時低侵入地蒐集線索。
            規則：
            1. 語氣自然，不要像客服。
            2. 如果使用者有負面情緒，先共感，不要直接轉成閒聊。
            3. 如果需要追問，最多只追一個小問題。
            4. 不要使用知識庫式的說教或任務語氣。
            5. 這條路徑不是純聊天；若自然互動中出現情緒、行為、認知、睡眠等線索，要保留自然感，不要突然切成量表。
            6. 如果 `burden_level_state` 顯示 high，就減少訊息密度，優先短句與陪伴，不硬追問。
            目前負擔狀態：{{#conversation.burden_level_state#}}
        title: Smart Hunter
        type: llm
        vision:
          enabled: false
      id: llm-natural
      position:
        x: 1240
        y: 660
      positionAbsolute:
        x: 1240
        y: 660
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        classes:
        - id: followup_ask_more
          name: Ask More
        - id: followup_answer_now
          name: Answer Now
        instruction: |
          你要判斷上一個 follow-up 回覆是否仍然是一個補問。
          如果內容主要是在再問一個最小問題，輸出 followup_ask_more。
          如果內容主要是在直接回答或收斂，輸出 followup_answer_now。
          只輸出類別代號。
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: ''
          provider: ''
        query_variable_selector:
        - llm-followup
        - text
        title: Follow-up Output Classifier
        type: question-classifier
      id: followup-output-classifier
      position:
        x: 900
        y: 80
      positionAbsolute:
        x: 900
        y: 80
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.5
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            你正在處理上一輪留下的補問。
            已知補問內容：{{#conversation.pending_question#}}
            請根據使用者本輪回答，直接完成上一輪對話。
            如果資訊仍不足，且目前還沒到第二輪上限，只再提出一個最小補問。
            不要一次問超過一個問題。
            如果對方顯示低能量、講不清楚、負擔高，優先收斂或把問題縮得更小。
            若 `burden_level_state` 顯示 high 或 `followup_budget` 是 0，優先直接回答，不再補問。
            目前負擔狀態：{{#conversation.burden_level_state#}}
        title: Follow-up Resolver
        type: llm
        vision:
          enabled: false
      id: llm-followup
      position:
        x: 620
        y: 80
      positionAbsolute:
        x: 620
        y: 80
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            你正在處理最後一次補問收斂。
            已知補問內容：{{#conversation.pending_question#}}
            現在不允許再追問。
            請根據目前已有資訊，給出最好的收斂回答。
            語氣要降低負擔，不要讓病人覺得自己還被要求補更多。
            目前負擔狀態：{{#conversation.burden_level_state#}}
        title: Follow-up Finalizer
        type: llm
        vision:
          enabled: false
      id: llm-followup-final
      position:
        x: 900
        y: 160
      positionAbsolute:
        x: 900
        y: 160
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            你要先補一個最關鍵的問題。
            規則：
            1. 只問一個問題。
            2. 問題要短。
            3. 問題要能直接幫助下一輪回答。
        title: Clarify Question
        type: llm
        vision:
          enabled: false
      id: llm-clarify
      position:
        x: 1240
        y: 840
      positionAbsolute:
        x: 1240
        y: 840
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: constant
          operation: overwrite
          value: ''
          variable_selector:
          - conversation
          - pending_question
        - input_type: constant
          operation: overwrite
          value: '0'
          variable_selector:
          - conversation
          - followup_turn_count
        - input_type: constant
          operation: overwrite
          value: resolved
          variable_selector:
          - conversation
          - followup_status
        title: Clear Pending Question
        type: assigner
        version: '2'
      id: clear-pending
      position:
        x: 940
        y: 80
      positionAbsolute:
        x: 940
        y: 80
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: variable
          operation: overwrite
          value:
          - llm-clarify
          - text
          variable_selector:
          - conversation
          - pending_question
        - input_type: constant
          operation: overwrite
          value: '1'
          variable_selector:
          - conversation
          - followup_turn_count
        - input_type: constant
          operation: overwrite
          value: pending
          variable_selector:
          - conversation
          - followup_status
        title: Save Pending Question
        type: assigner
        version: '2'
      id: save-pending
      position:
        x: 1540
        y: 840
      positionAbsolute:
        x: 1540
        y: 840
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: variable
          operation: overwrite
          value:
          - llm-followup
          - text
          variable_selector:
          - conversation
          - pending_question
        - input_type: constant
          operation: overwrite
          value: '2'
          variable_selector:
          - conversation
          - followup_turn_count
        - input_type: constant
          operation: overwrite
          value: pending
          variable_selector:
          - conversation
          - followup_status
        - input_type: constant
          operation: overwrite
          value: followup
          variable_selector:
          - conversation
          - active_mode
        title: Save Follow-up Question
        type: assigner
        version: '2'
      id: save-pending-followup
      position:
        x: 1180
        y: 80
      positionAbsolute:
        x: 1180
        y: 80
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        answer: '{{#safety-response.text#}}'
        title: Safety Answer
        type: answer
        variables: []
      id: answer-safety
      position:
        x: 1540
        y: 40
      positionAbsolute:
        x: 1540
        y: 40
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        answer: '{{#llm-void.text#}}'
        title: Void Answer
        type: answer
        variables: []
      id: answer-void
      position:
        x: 1540
        y: 20
      positionAbsolute:
        x: 1540
        y: 20
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        answer: '{{#llm-soulmate.text#}}'
        title: Soulmate Answer
        type: answer
        variables: []
      id: answer-soulmate
      position:
        x: 1540
        y: 180
      positionAbsolute:
        x: 1540
        y: 180
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        answer: '{{#llm-mission.text#}}'
        title: Mission Answer
        type: answer
        variables: []
      id: answer-mission
      position:
        x: 1540
        y: 300
      positionAbsolute:
        x: 1540
        y: 300
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        answer: '{{#llm-option.text#}}'
        title: Option Answer
        type: answer
        variables: []
      id: answer-option
      position:
        x: 1540
        y: 480
      positionAbsolute:
        x: 1540
        y: 480
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        answer: '{{#llm-natural.text#}}'
        title: Natural Answer
        type: answer
        variables: []
      id: answer-natural
      position:
        x: 1540
        y: 660
      positionAbsolute:
        x: 1540
        y: 660
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        answer: '{{#llm-followup.text#}}'
        title: Follow-up Answer
        type: answer
        variables: []
      id: answer-followup
      position:
        x: 1240
        y: 80
      positionAbsolute:
        x: 1240
        y: 80
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        answer: '{{#llm-clarify.text#}}'
        title: Clarify Answer
        type: answer
        variables: []
      id: answer-clarify
      position:
        x: 1820
        y: 840
      positionAbsolute:
        x: 1820
        y: 840
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        answer: '{{#conversation.command_feedback#}}'
        title: Command Answer
        type: answer
        variables: []
      id: answer-command
      position:
        x: 2300
        y: 980
      positionAbsolute:
        x: 2300
        y: 980
      sourcePosition: right
      targetPosition: left
      type: custom
    viewport:
      x: 0
      y: 0
      zoom: 0.6
  rag_pipeline_variables: []
