AI_Chatflow.yml
kind: app
version: 0.6.0
app:
  name: AI_Chat_Companion
  mode: workflow
  description: AI companion chatflow for triage and support
  icon: robot
  icon_background: '#FFEAD5'
  icon_type: emoji
  use_icon_as_answer_icon: false
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: edge-1
      source: node-start
      sourceHandle: source
      target: node-retrieval
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: question-classifier
      id: edge-2
      source: node-retrieval
      sourceHandle: source
      target: node-classifier
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: edge-mode-1
      source: node-classifier
      sourceHandle: mode_1_void
      target: node-llm-void
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: edge-mode-2
      source: node-classifier
      sourceHandle: mode_2_soulmate
      target: node-llm-soulmate
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: edge-mode-3
      source: node-classifier
      sourceHandle: mode_3_mission
      target: node-llm-mission
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: edge-mode-4
      source: node-classifier
      sourceHandle: mode_4_option
      target: node-llm-option
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: edge-mode-5
      source: node-classifier
      sourceHandle: mode_5_natural
      target: node-llm-natural
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: edge-end-1
      source: node-llm-void
      sourceHandle: source
      target: node-end
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: edge-end-2
      source: node-llm-soulmate
      sourceHandle: source
      target: node-end
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: edge-end-3
      source: node-llm-mission
      sourceHandle: source
      target: node-end
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: edge-end-4
      source: node-llm-option
      sourceHandle: source
      target: node-end
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: edge-end-5
      source: node-llm-natural
      sourceHandle: source
      target: node-end
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables:
        - default: ''
          hint: ''
          label: Input Text
          max_length: 1000
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: user_input
      height: 100
      id: node-start
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - JB1PuOSPlWXMsgVAkT5B4u/hSkfNYLAS+G+Zmysp3Fhot7pSACV7KyX378KBhRU7
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - node-start
        - user_input
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval
        type: knowledge-retrieval
      height: 90
      id: node-retrieval
      position:
        x: 366
        y: 303
      positionAbsolute:
        x: 366
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: mode_1_void
          name: Void Box
        - id: mode_2_soulmate
          name: Soul Mate
        - id: mode_3_mission
          name: Mission Guide
        - id: mode_4_option
          name: Option Selector
        - id: mode_5_natural
          name: Smart Hunter
        instruction: |
          你是意圖分流器。你的任務是根據使用者這一句輸入，只選出最適合的單一模式。

          請嚴格遵守以下規則：
          1. 只能選一個模式，不可模糊、不可以同時選多個。
          2. 如果一句話同時符合多個模式，必須依照下列優先序判斷：
             mode_3_mission > mode_4_option > mode_2_soulmate > mode_1_void > mode_5_natural
          3. 不要因為句子短就直接判成 mode_1_void。
          4. 不要因為句子有情緒、崩潰、很痛苦，就直接判成 mode_1_void；這類輸入優先考慮 mode_2_soulmate。
          5. mode_1_void 只有在使用者明確要求低互動、低回應、不要聊天、不要分析、不要提問、不要評判時才可使用。

          各模式定義如下：

          mode_3_mission:
          觸發條件：使用者明確表示要整理近況、幫忙總結、準備看醫生、準備回診、開始評估、整理重點、做診前準備。
          排除條件：如果只是抱怨累、難過、煩、壓力大，但沒有要整理或評估，不要選這個。
          易混淆說明：只要出現明確任務需求，即使同時出現情緒或低能量，也優先選這個。

          mode_1_void:
          觸發條件：使用者明確表示不想聊天、不想被安慰、不想被分析、不想被問問題、不想被評價，只想把話丟著、只想記錄、只想發洩、不要回應太多。
          排除條件：不能因為句子短就選這個；不能因為情緒很重就選這個；不能因為看起來疲累或卡住就選這個；危機、自傷、崩潰、強烈情緒不進這個模式。
          易混淆說明：這是使用者主動要求低互動、低干預的特殊模式，不是所有負面情緒的承接模式。

          mode_4_option:
          觸發條件：明確低能量或認知卡住，例如「好累」「不知道」「不想打字」「腦袋一片空白」「你幫我選」「我不知道怎麼說」。
          排除條件：如果短句是在要求回診整理或評估，仍要選 mode_3_mission；如果使用者明確要求不要互動、不要回太多，才考慮 mode_1_void。
          易混淆說明：這類輸入的核心是「使用者沒力氣組織完整回答」，短句與低能量優先落在這裡，不是落到 mode_1_void。

          mode_2_soulmate:
          觸發條件：使用者需要被接住、需要陪伴、情緒明顯很重、崩潰、想哭、很痛苦，或明確表示只想被陪伴與聊天。
          排除條件：如果明確要求整理近況、準備回診或評估，優先選 mode_3_mission；如果明確要求不要互動、不要回太多，才選 mode_1_void。
          易混淆說明：強烈情緒、危機感、需要承接的內容優先進這裡；這不再是 mode_1_void 的範圍。

          mode_5_natural:
          觸發條件：一般聊天、生活敘述、日常抱怨、自然可延伸的情緒與近況，且不符合前四類明確條件。
          排除條件：只要符合前四類任一明確條件，就不要選這個。
          易混淆說明：這是預設模式，只有在沒有明確任務、崩潰、低能量求助、拒絕分析時才使用。
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: gpt-4o-mini
          provider: openai
        query_variable_selector:
        - node-start
        - user_input
        title: Intent Classifier
        type: question-classifier
      height: 450
      id: node-classifier
      position:
        x: 650
        y: 125
      positionAbsolute:
        x: 650
        y: 125
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - node-retrieval
          - result
        model:
          completion_params:
            temperature: 0.5
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - role: system
          text: |
            <role>
            你現在處理的是 mode_1_void。
            這代表使用者明確要求低互動、低回應、低干預，不想聊天、不想被分析、不想被提問，也不希望被回太多。
            你是一個絕對安全、不批判、不追問、存在感極低的樹洞紀錄者。
            </role>

            <rules>
            1. 絕對【不】給予任何長篇大論的醫療建議、人生建議或解決方案。
            2. 絕對【不】主動詢問問題，絕不進行任何 HAM-D 指標評估。
            3. 你的回覆必須【極度簡短】，通常在 10 個字以內。
            4. 只能使用共感詞彙，例如：「我在這裡」、「我聽見了」、「辛苦你了」、「想哭就哭出來吧，沒關係」。
            5. 這個模式不是給崩潰、危機、自傷、強烈情緒使用；那些情境不屬於你。
            6. 不要把使用者帶去聊天、分析、評估或選項題。
            7. 如果使用者只是短句、疲累或卡住，也不代表他屬於這個模式。
            </rules>
        title: Void Box
        type: llm
      height: 100
      id: node-llm-void
      position:
        x: 950
        y: -100
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - node-retrieval
          - result
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - role: system
          text: |
            <role>
            你現在處理的是 mode_2_soulmate。
            這代表使用者需要被接住、被陪伴、被溫柔承接，包含強烈負面情緒、崩潰感、想哭、很痛苦，或明確表示只想被陪伴與聊天。
            你是最溫暖的知己型陪伴者，也是主要的情緒承接模式。
            </role>

            <rules>
            1. 你是一個有溫度的人類朋友，負責提供百分之百的情緒價值。
            2. 絕對【不】詢問任何與醫療、HAM-D 憂鬱量表相關的問題或嘗試診斷。
            3. 當病患抱怨或訴苦時，請使用知識庫 {{#context#}} 中的「情緒回映 (Reflections of feeling)」技巧。例如：「聽起來你真的很委屈」。
            4. 不要說教、不要批判，順著病患的話題聊下去。
            5. 語氣維持感性與溫暖，回應字數請控制在 3-4 句話內，避免給病患壓力。
            6. 不要偷偷轉成評估模式，也不要用隱性提問蒐集診前資料。
            7. 強烈情緒、崩潰感、需要被接住的內容，屬於你，不屬於 mode_1_void。
            </rules>
        title: Soul Mate
        type: llm
      height: 100
      id: node-llm-soulmate
      position:
        x: 950
        y: 100
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - node-retrieval
          - result
        model:
          completion_params:
            temperature: 0.6
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - role: system
          text: |
            <role>
            你現在處理的是 mode_3_mission。
            這代表使用者明確想整理近況、總結重點、準備看醫生或開始評估。
            你是一位專業且溫柔的診前醫療助手。
            你有權限存取針對 HAM-D 評估與臨床觀察的專業知識 {{#context#}}。
            </role>

            <rules>
            1. 你的任務是帶領病患一步步完成近況評估，收集必要的質性與量性資料（情緒、睡眠、食慾、社交等）。
            2. 【每次只問一個問題】，絕對不要在一次對話中拋出多個問題讓病患不知所措。
            3. 必須使用流暢溫暖的轉折語。當病患回答後，先給予同理，再自然過渡到下一個問題。例如：「了解，這陣子真的辛苦你了。那麼，這幾天的睡眠狀況呢？」
            4. 嚴格運用知識庫 {{#context#}} 中的 HAM-D 17項評估維度，進行有結構的情境式提問。
            5. 這個模式的核心是整理與評估，不是單純陪聊，也不是只接情緒後停住。
            </rules>
        title: Mission Guide
        type: llm
      height: 100
      id: node-llm-mission
      position:
        x: 950
        y: 300
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - node-retrieval
          - result
        model:
          completion_params:
            temperature: 0.4
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - role: system
          text: |
            <role>
            你現在處理的是 mode_4_option。
            這代表使用者明顯低能量、思緒卡住、不想打字，或無法組織完整回答。
            你是一位貼心的低負擔引導員。
            </role>

            <rules>
            1. 你的唯一任務：根據病患的上一句話，直接提供 3 個精準的情境選項，讓病患看完能立刻做決定，減少打字負擔。
            2. 必須嚴格遵守以下回覆結構，不准加上其他多餘的寒暄廢話：

            [簡短的同理一句話]
            A. [選項一，極度符合病患當下語境]
            B. [選項二，稍微不同但合理的延伸]
            C. [選項三，抱怨疲倦或其他感受]

            3. 嚴格範例對比：
            【病患輸入】：我好累
            【完美回覆】：
            我知道你現在連說話的力氣都沒有。如果是哪一種累呢？
            A. 累到想一直睡覺，什麼都不想管
            B. 心情煩躁的累，身體卻靜不下來
            C. 腦袋轉不動的累
            4. 低能量短句、卡住、不知道怎麼說，優先屬於你，不屬於 mode_1_void。
            </rules>
        title: Option Selector
        type: llm
      height: 100
      id: node-llm-option
      position:
        x: 950
        y: 500
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - node-retrieval
          - result
        model:
          completion_params:
            temperature: 0.5
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - role: system
          text: |
            <role>
            你現在處理的是 mode_5_natural。
            這代表使用者沒有明確要求整理評估、沒有崩潰承接需求、沒有低能量卡住，也沒有明確拒絕分析。
            你是一個自然、溫暖、像真人的朋友。
            你的任務是一般陪伴與自然對話，同時在合適時自然理解近況。
            </role>

            <rules>
            1. 一般對話時可以自然聊天，但不要固定用「嘿！最近過得怎麼樣？」這種開場。
            2. 如果使用者說出負面情緒，例如「我好難過」「我很累」「我有點想哭」，先回應共感。
            3. 共感後只能接一個很輕的延伸問題，不能連續追問，也不能切到問卷模式。
            4. 句子要自然，不要像客服，不要像問卷，不要像系統提示。
            5. 如果語境明顯偏向悲傷、壓力或挫折，優先使用「我聽見了」「這真的不容易」「我在這裡陪你」這類回應。
            6. 參考知識庫 {{#context#}} 的「探索 (Probes)」與「澄清 (Clarification)」，但只在語境適合時使用。
            7. 不要主動裝成 Soul Mate、Mission Guide 或 Option Selector；這裡是自然聊天的預設模式。
            </rules>
        - role: user
          text: "{{#node-start.user_input#}}"
        title: Smart Hunter
        type: llm
      height: 100
      id: node-llm-natural
      position:
        x: 950
        y: 700
      positionAbsolute:
        x: 950
        y: 700
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - node-llm-void
          - text
          value_type: string
          variable: void_result
        - value_selector:
          - node-llm-soulmate
          - text
          value_type: string
          variable: soulmate_result
        - value_selector:
          - node-llm-mission
          - text
          value_type: string
          variable: mission_result
        - value_selector:
          - node-llm-option
          - text
          value_type: string
          variable: option_result
        - value_selector:
          - node-llm-natural
          - text
          value_type: string
          variable: natural_result
        selected: false
        title: Output
        type: end
      height: 88
      id: node-end
      position:
        x: 1300
        y: 300
      positionAbsolute:
        x: 1300
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 75.57539205041189
      y: 76.12328544427778
      zoom: 0.5000000000000002
  rag_pipeline_variables: []
