AI_Chatflow_Fresh_Export.yml
app:
  description: AI companion chatflow rebuilt on the latest exported advanced-chat skeleton
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: AI_Chat_Companion_New_Skeleton
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.6.0
workflow:
  conversation_variables:
  - id: pending-question-var
    name: pending_question
    description: Store the latest clarification question so the next turn can answer it
    selector:
    - conversation
    - pending_question
    value: ''
    value_type: string
  - id: risk-flag-var
    name: risk_flag
    description: Whether the latest user turn hit a red flag path
    selector:
    - conversation
    - risk_flag
    value: 'false'
    value_type: string
  - id: red-flag-payload-var
    name: red_flag_payload
    description: Structured JSON-like summary for the latest detected red flag
    selector:
    - conversation
    - red_flag_payload
    value: ''
    value_type: string
  - id: followup-turn-count-var
    name: followup_turn_count
    description: Number of consecutive clarification turns in the current follow-up chain
    selector:
    - conversation
    - followup_turn_count
    value: '0'
    value_type: string
  - id: followup-status-var
    name: followup_status
    description: Current follow-up lifecycle state
    selector:
    - conversation
    - followup_status
    value: none
    value_type: string
  - id: active-mode-var
    name: active_mode
    description: Last resolved routing mode for the current turn
    selector:
    - conversation
    - active_mode
    value: ''
    value_type: string
  - id: latest-tag-payload-var
    name: latest_tag_payload
    description: Structured tag output for the latest normal user turn
    selector:
    - conversation
    - latest_tag_payload
    value: ''
    value_type: string
  - id: hamd-progress-state-var
    name: hamd_progress_state
    description: Structured HAM-D progress snapshot for mission mode
    selector:
    - conversation
    - hamd_progress_state
    value: ''
    value_type: string
  - id: summary-draft-state-var
    name: summary_draft_state
    description: Unified pre-summary state for future clinician draft generation
    selector:
    - conversation
    - summary_draft_state
    value: ''
    value_type: string
  - id: clinician-summary-draft-var
    name: clinician_summary_draft
    description: Clinician-facing draft summary generated from the unified summary state
    selector:
    - conversation
    - clinician_summary_draft
    value: ''
    value_type: string
  - id: routing-mode-override-var
    name: routing_mode_override
    description: Persisted manual routing mode override; empty means auto routing
    selector:
    - conversation
    - routing_mode_override
    value: ''
    value_type: string
  - id: command-feedback-var
    name: command_feedback
    description: Short confirmation text for command-mode switches
    selector:
    - conversation
    - command_feedback
    value: ''
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: question-classifier
      id: start-command-detector
      source: start
      sourceHandle: source
      target: command-detector
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: question-classifier
      id: command-none-risk-detector
      source: command-detector
      sourceHandle: cmd_none
      target: risk-detector
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: command-auto-set
      source: command-detector
      sourceHandle: cmd_auto
      target: set-command-auto
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: command-void-set
      source: command-detector
      sourceHandle: cmd_void
      target: set-command-void
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: command-soulmate-set
      source: command-detector
      sourceHandle: cmd_soulmate
      target: set-command-soulmate
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: command-mission-set
      source: command-detector
      sourceHandle: cmd_mission
      target: set-command-mission
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: command-option-set
      source: command-detector
      sourceHandle: cmd_option
      target: set-command-option
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: command-natural-set
      source: command-detector
      sourceHandle: cmd_natural
      target: set-command-natural
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: command-clarify-set
      source: command-detector
      sourceHandle: cmd_clarify
      target: set-command-clarify
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: llm
      id: risk-redflag-structurer
      source: risk-detector
      sourceHandle: red_flag
      target: risk-structurer
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: risk-normal-clear
      source: risk-detector
      sourceHandle: normal
      target: clear-risk-state
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: llm
      id: clear-risk-tag-structurer
      source: clear-risk-state
      sourceHandle: source
      target: tag-structurer
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: assigner
      id: tag-structurer-save
      source: tag-structurer
      sourceHandle: source
      target: save-tag-payload
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: llm
      id: tag-summary-build
      source: save-tag-payload
      sourceHandle: source
      target: hamd-progress-tracker
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: assigner
      id: tag-summary-save
      source: summary-draft-builder
      sourceHandle: source
      target: save-summary-draft
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: if-else
      id: save-tag-followup-gate
      source: save-summary-draft
      sourceHandle: source
      target: followup-gate
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: if-else
      id: gate-followup-limit
      source: followup-gate
      sourceHandle: 'true'
      target: followup-limit-gate
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: assigner
      id: risk-structurer-assign
      source: risk-structurer
      sourceHandle: source
      target: set-risk-state
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: llm
      id: set-risk-summary-build
      source: set-risk-state
      sourceHandle: source
      target: summary-draft-builder
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: assigner
      id: risk-summary-save
      source: summary-draft-builder
      sourceHandle: source
      target: save-summary-draft
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: llm
      id: set-risk-safety
      source: save-summary-draft
      sourceHandle: source
      target: safety-response
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: safety-answer-edge
      source: safety-response
      sourceHandle: source
      target: answer-safety
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: question-classifier
      id: gate-followup-resolver
      source: followup-limit-gate
      sourceHandle: 'false'
      target: llm-followup
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: llm
      id: gate-followup-finalize
      source: followup-limit-gate
      sourceHandle: 'true'
      target: llm-followup-final
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: if-else
      id: gate-override
      source: followup-gate
      sourceHandle: 'false'
      target: override-gate
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: question-classifier
      id: override-gate-classifier
      source: override-gate
      sourceHandle: 'false'
      target: classifier
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: question-classifier
      id: override-gate-router
      source: override-gate
      sourceHandle: 'true'
      target: override-router
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: override-void
      source: override-router
      sourceHandle: mode_1_void
      target: set-mode-void
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: override-soulmate
      source: override-router
      sourceHandle: mode_2_soulmate
      target: set-mode-soulmate
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: override-mission
      source: override-router
      sourceHandle: mode_3_mission
      target: set-mode-mission
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: override-option
      source: override-router
      sourceHandle: mode_4_option
      target: set-mode-option
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: override-natural
      source: override-router
      sourceHandle: mode_5_natural
      target: set-mode-natural
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: override-clarify
      source: override-router
      sourceHandle: mode_6_clarify
      target: set-mode-clarify
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: classifier-void
      source: classifier
      sourceHandle: mode_1_void
      target: set-mode-void
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: llm
      id: set-mode-void-llm
      source: set-mode-void
      sourceHandle: source
      target: llm-void
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: classifier-soulmate
      source: classifier
      sourceHandle: mode_2_soulmate
      target: set-mode-soulmate
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: llm
      id: set-mode-soulmate-llm
      source: set-mode-soulmate
      sourceHandle: source
      target: llm-soulmate
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: classifier-mission
      source: classifier
      sourceHandle: mode_3_mission
      target: set-mode-mission
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: knowledge-retrieval
      id: set-mode-mission-retrieval
      source: set-mode-mission
      sourceHandle: source
      target: retrieval-mission
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: classifier-option
      source: classifier
      sourceHandle: mode_4_option
      target: set-mode-option
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: knowledge-retrieval
      id: set-mode-option-retrieval
      source: set-mode-option
      sourceHandle: source
      target: retrieval-option
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: classifier-natural
      source: classifier
      sourceHandle: mode_5_natural
      target: set-mode-natural
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: llm
      id: set-mode-natural-llm
      source: set-mode-natural
      sourceHandle: source
      target: llm-natural
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: classifier-clarify
      source: classifier
      sourceHandle: mode_6_clarify
      target: set-mode-clarify
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: llm
      id: set-mode-clarify-llm
      source: set-mode-clarify
      sourceHandle: source
      target: llm-clarify
      targetHandle: target
      type: custom
    - data:
        sourceType: knowledge-retrieval
        targetType: llm
      id: retrieval-mission-hamd
      source: retrieval-mission
      sourceHandle: source
      target: hamd-progress-tracker
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: assigner
      id: hamd-progress-save-edge
      source: hamd-progress-tracker
      sourceHandle: source
      target: save-hamd-progress
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: llm
      id: hamd-summary-build
      source: save-hamd-progress
      sourceHandle: source
      target: summary-draft-builder
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: assigner
      id: hamd-summary-save
      source: summary-draft-builder
      sourceHandle: source
      target: save-summary-draft
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: llm
      id: retrieval-mission-llm
      source: save-summary-draft
      sourceHandle: source
      target: llm-mission
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: llm
      id: summary-clinician-draft-edge
      source: save-summary-draft
      sourceHandle: source
      target: clinician-summary-builder
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: assigner
      id: clinician-draft-save-edge
      source: clinician-summary-builder
      sourceHandle: source
      target: save-clinician-summary
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: answer
      id: command-answer-auto
      source: set-command-auto
      sourceHandle: source
      target: answer-command
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: answer
      id: command-answer-void
      source: set-command-void
      sourceHandle: source
      target: answer-command
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: answer
      id: command-answer-soulmate
      source: set-command-soulmate
      sourceHandle: source
      target: answer-command
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: answer
      id: command-answer-mission
      source: set-command-mission
      sourceHandle: source
      target: answer-command
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: answer
      id: command-answer-option
      source: set-command-option
      sourceHandle: source
      target: answer-command
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: answer
      id: command-answer-natural
      source: set-command-natural
      sourceHandle: source
      target: answer-command
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: answer
      id: command-answer-clarify
      source: set-command-clarify
      sourceHandle: source
      target: answer-command
      targetHandle: target
      type: custom
    - data:
        sourceType: knowledge-retrieval
        targetType: llm
      id: retrieval-option-llm
      source: retrieval-option
      sourceHandle: source
      target: llm-option
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: question-classifier
      id: followup-output-classify-edge
      source: llm-followup
      sourceHandle: source
      target: followup-output-classifier
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: followup-output-askmore
      source: followup-output-classifier
      sourceHandle: followup_ask_more
      target: save-pending-followup
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: assigner
      id: followup-output-answernow
      source: followup-output-classifier
      sourceHandle: followup_answer_now
      target: clear-pending
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: assigner
      id: followup-final-clear
      source: llm-followup-final
      sourceHandle: source
      target: clear-pending
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: assigner
      id: clarify-save
      source: llm-clarify
      sourceHandle: source
      target: save-pending
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: void-answer-edge
      source: llm-void
      sourceHandle: source
      target: answer-void
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: soulmate-answer-edge
      source: llm-soulmate
      sourceHandle: source
      target: answer-soulmate
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: mission-answer-edge
      source: llm-mission
      sourceHandle: source
      target: answer-mission
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: option-answer-edge
      source: llm-option
      sourceHandle: source
      target: answer-option
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: natural-answer-edge
      source: llm-natural
      sourceHandle: source
      target: answer-natural
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: answer
      id: followup-answer-edge
      source: clear-pending
      sourceHandle: source
      target: answer-followup
      targetHandle: target
      type: custom
    - data:
        sourceType: assigner
        targetType: answer
      id: clarify-answer-edge
      source: save-pending
      sourceHandle: source
      target: answer-clarify
      targetHandle: target
      type: custom
    nodes:
    - data:
        title: Start
        type: start
        variables: []
      id: start
      position:
        x: 80
        y: 420
      positionAbsolute:
        x: 80
        y: 420
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        classes:
        - id: cmd_auto
          name: Auto
        - id: cmd_void
          name: Void
        - id: cmd_soulmate
          name: Soulmate
        - id: cmd_mission
          name: Mission
        - id: cmd_option
          name: Option
        - id: cmd_natural
          name: Natural
        - id: cmd_clarify
          name: Clarify
        - id: cmd_none
          name: None
        instruction: |
          你要判斷使用者這一輪是否在輸入「模式切換指令」。
          只有在使用者明確是在下指令時，才輸出對應類別。
          可接受的指令例子包含：
          auto, /auto, soulmate, /soulmate, mission, /mission, option, /option, natural, /natural, void, /void, clarify, /clarify。
          如果只是正常對話中提到這些字，不算指令，請輸出 cmd_none。
          只輸出一個類別代號。
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: ''
          provider: ''
        query_variable_selector:
        - sys
        - query
        title: Command Detector
        type: question-classifier
      id: command-detector
      position:
        x: 180
        y: 420
      positionAbsolute:
        x: 180
        y: 420
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        classes:
        - id: red_flag
          name: Red Flag
        - id: normal
          name: Normal
        instruction: |
          你是高風險偵測器。
          如果使用者出現自傷、自殺、想消失、活不下去、極端絕望、明確危險、請求立即幫助等危機訊號，輸出 red_flag。
          其餘情況輸出 normal。
          只輸出類別代號，不要解釋。
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: ''
          provider: ''
        query_variable_selector:
        - sys
        - query
        title: Risk Detector
        type: question-classifier
      id: risk-detector
      position:
        x: 340
        y: 120
      positionAbsolute:
        x: 340
        y: 120
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            你要把高風險訊號整理成簡短 JSON 字串。
            欄位固定為:
            {
              "route_type":"safety",
              "source_mode":"safety",
              "followup_status":"resolved",
              "risk_level":"high",
              "sentiment_tags":["..."],
              "behavioral_tags":["..."],
              "cognitive_tags":["..."],
              "warning_tags":["..."],
              "signals":["..."],
              "summary":"..."
            }
            只輸出 JSON，不要多餘文字。
        title: Risk Structurer
        type: llm
        vision:
          enabled: false
      id: risk-structurer
      position:
        x: 620
        y: 40
      positionAbsolute:
        x: 620
        y: 40
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: constant
          operation: overwrite
          value: 'true'
          variable_selector:
          - conversation
          - risk_flag
        - input_type: variable
          operation: overwrite
          value:
          - risk-structurer
          - text
          variable_selector:
          - conversation
          - red_flag_payload
        - input_type: variable
          operation: overwrite
          value:
          - risk-structurer
          - text
          variable_selector:
          - conversation
          - latest_tag_payload
        - input_type: constant
          operation: overwrite
          value: ''
          variable_selector:
          - conversation
          - pending_question
        - input_type: constant
          operation: overwrite
          value: safety
          variable_selector:
          - conversation
          - active_mode
        title: Set Risk State
        type: assigner
        version: '2'
      id: set-risk-state
      position:
        x: 900
        y: 40
      positionAbsolute:
        x: 900
        y: 40
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: constant
          operation: overwrite
          value: 'false'
          variable_selector:
          - conversation
          - risk_flag
        - input_type: constant
          operation: overwrite
          value: ''
          variable_selector:
          - conversation
          - red_flag_payload
        title: Clear Risk State
        type: assigner
        version: '2'
      id: clear-risk-state
      position:
        x: 620
        y: 180
      positionAbsolute:
        x: 620
        y: 180
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            你是 AI Companion 的安全回應節點。
            先用溫和語氣接住對方。
            明確鼓勵立刻聯絡身邊可信任的人、當地緊急服務或危機協助資源。
            不要轉進一般聊天，也不要進行一般任務引導。
            回覆保持簡潔、直接、以安全為優先。
        title: Safety Response
        type: llm
        vision:
          enabled: false
      id: safety-response
      position:
        x: 1180
        y: 40
      positionAbsolute:
        x: 1180
        y: 40
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            你要把目前對話狀態整理成一份統一的摘要草稿 JSON。
            固定欄位：
            {
              "active_mode":"...",
              "risk_flag":"true_or_false",
              "followup_status":"...",
              "latest_tags":"...",
              "red_flags":"...",
              "hamd_progress":"...",
              "draft_summary":"..."
            }
            latest_tags 直接摘要目前的 latest_tag_payload。
            red_flags 直接摘要目前的 red_flag_payload。
            hamd_progress 直接摘要目前的 hamd_progress_state。
            draft_summary 請用一到兩句話總結目前最值得進摘要的重點。
            只輸出 JSON。
        title: Summary Draft Builder
        type: llm
        vision:
          enabled: false
      id: summary-draft-builder
      position:
        x: 1460
        y: 120
      positionAbsolute:
        x: 1460
        y: 120
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: variable
          operation: overwrite
          value:
          - summary-draft-builder
          - text
          variable_selector:
          - conversation
          - summary_draft_state
        title: Save Summary Draft
        type: assigner
        version: '2'
      id: save-summary-draft
      position:
        x: 1740
        y: 120
      positionAbsolute:
        x: 1740
        y: 120
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            你要把目前的 summary_draft_state 整理成「可交付給醫師或臨床團隊閱讀的診前摘要草稿」。
            目標不是做診斷，而是整理觀察到的重點、風險、HAM-D 線索與待追問處。
            請輸出固定 JSON：
            {
              "summary_version":"p1_clinician_draft_v1",
              "active_mode":"...",
              "risk_level":"none_or_watch_or_high",
              "chief_concerns":["..."],
              "symptom_observations":["..."],
              "hamd_signals":["..."],
              "followup_needs":["..."],
              "safety_flags":["..."],
              "patient_tone":"...",
              "draft_summary":"..."
            }
            規則：
            1. risk_level 只能是 none、watch、high。
            2. chief_concerns 用 1 到 3 條短語整理主要困擾。
            3. symptom_observations 聚焦情緒、行為、認知線索。
            4. hamd_signals 只整理目前已有證據的 HAM-D 維度線索，不要臆測。
            5. followup_needs 若目前資訊足夠可為空陣列。
            6. safety_flags 根據 red_flags 與 risk_flag 整理，若沒有則為空陣列。
            7. patient_tone 用一句短語描述整體語氣，例如 low_energy、distressed、guarded、stable。
            8. draft_summary 用 2 到 4 句中文，寫成中性、可讀、臨床前摘要口吻。
            目前 summary_draft_state：{{#conversation.summary_draft_state#}}
            只輸出 JSON，不要加任何解釋。
        title: Clinician Summary Builder
        type: llm
        vision:
          enabled: false
      id: clinician-summary-builder
      position:
        x: 2020
        y: 120
      positionAbsolute:
        x: 2020
        y: 120
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: variable
          operation: overwrite
          value:
          - clinician-summary-builder
          - text
          variable_selector:
          - conversation
          - clinician_summary_draft
        title: Save Clinician Summary
        type: assigner
        version: '2'
      id: save-clinician-summary
      position:
        x: 2300
        y: 120
      positionAbsolute:
        x: 2300
        y: 120
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            你要根據本輪使用者輸入，輸出簡短 JSON 字串。
            固定欄位：
            {
              "route_type":"normal",
              "source_mode":"{{#conversation.active_mode#}}",
              "followup_status":"{{#conversation.followup_status#}}",
              "sentiment_tags":["..."],
              "behavioral_tags":["..."],
              "cognitive_tags":["..."],
              "warning_tags":["..."],
              "summary":"..."
            }
            如果某類沒有內容就輸出空陣列。
            你要根據目前狀態判斷 route_type:
            - 若 `followup_status` 是 pending 或目前在 follow-up 鏈上，route_type 應偏向 followup
            - 否則 route_type 為 normal
            只輸出 JSON，不要加解釋。
        title: Tag Structurer
        type: llm
        vision:
          enabled: false
      id: tag-structurer
      position:
        x: 900
        y: 180
      positionAbsolute:
        x: 900
        y: 180
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: variable
          operation: overwrite
          value:
          - tag-structurer
          - text
          variable_selector:
          - conversation
          - latest_tag_payload
        title: Save Tag Payload
        type: assigner
        version: '2'
      id: save-tag-payload
      position:
        x: 1180
        y: 180
      positionAbsolute:
        x: 1180
        y: 180
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: constant
          operation: overwrite
          value: ''
          variable_selector:
          - conversation
          - routing_mode_override
        - input_type: constant
          operation: overwrite
          value: ''
          variable_selector:
          - conversation
          - active_mode
        - input_type: constant
          operation: overwrite
          value: ''
          variable_selector:
          - conversation
          - pending_question
        - input_type: constant
          operation: overwrite
          value: '0'
          variable_selector:
          - conversation
          - followup_turn_count
        - input_type: constant
          operation: overwrite
          value: resolved
          variable_selector:
          - conversation
          - followup_status
        - input_type: constant
          operation: overwrite
          value: 已切回 auto 模式，之後會重新依照使用者語氣與內容自動分流。
          variable_selector:
          - conversation
          - command_feedback
        title: Set Command Auto
        type: assigner
        version: '2'
      id: set-command-auto
      position:
        x: 720
        y: 980
      positionAbsolute:
        x: 720
        y: 980
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: constant
          operation: overwrite
          value: mode_1_void
          variable_selector:
          - conversation
          - routing_mode_override
        - input_type: constant
          operation: overwrite
          value: mode_1_void
          variable_selector:
          - conversation
          - active_mode
        - input_type: constant
          operation: overwrite
          value: ''
          variable_selector:
          - conversation
          - pending_question
        - input_type: constant
          operation: overwrite
          value: '0'
          variable_selector:
          - conversation
          - followup_turn_count
        - input_type: constant
          operation: overwrite
          value: resolved
          variable_selector:
          - conversation
          - followup_status
        - input_type: constant
          operation: overwrite
          value: 已切換到 void 模式，之後會優先維持樹洞式接住，直到你輸入其他模式指令或 auto。
          variable_selector:
          - conversation
          - command_feedback
        title: Set Command Void
        type: assigner
        version: '2'
      id: set-command-void
      position:
        x: 940
        y: 980
      positionAbsolute:
        x: 940
        y: 980
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: constant
          operation: overwrite
          value: mode_2_soulmate
          variable_selector:
          - conversation
          - routing_mode_override
        - input_type: constant
          operation: overwrite
          value: mode_2_soulmate
          variable_selector:
          - conversation
          - active_mode
        - input_type: constant
          operation: overwrite
          value: ''
          variable_selector:
          - conversation
          - pending_question
        - input_type: constant
          operation: overwrite
          value: '0'
          variable_selector:
          - conversation
          - followup_turn_count
        - input_type: constant
          operation: overwrite
          value: resolved
          variable_selector:
          - conversation
          - followup_status
        - input_type: constant
          operation: overwrite
          value: 已切換到 soulmate 模式，之後會優先維持陪伴式互動，直到你輸入其他模式指令或 auto。
          variable_selector:
          - conversation
          - command_feedback
        title: Set Command Soulmate
        type: assigner
        version: '2'
      id: set-command-soulmate
      position:
        x: 1160
        y: 980
      positionAbsolute:
        x: 1160
        y: 980
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: constant
          operation: overwrite
          value: mode_3_mission
          variable_selector:
          - conversation
          - routing_mode_override
        - input_type: constant
          operation: overwrite
          value: mode_3_mission
          variable_selector:
          - conversation
          - active_mode
        - input_type: constant
          operation: overwrite
          value: ''
          variable_selector:
          - conversation
          - pending_question
        - input_type: constant
          operation: overwrite
          value: '0'
          variable_selector:
          - conversation
          - followup_turn_count
        - input_type: constant
          operation: overwrite
          value: resolved
          variable_selector:
          - conversation
          - followup_status
        - input_type: constant
          operation: overwrite
          value: 已切換到 mission 模式，之後會優先維持任務整理與診前引導，直到你輸入其他模式指令或 auto。
          variable_selector:
          - conversation
          - command_feedback
        title: Set Command Mission
        type: assigner
        version: '2'
      id: set-command-mission
      position:
        x: 1380
        y: 980
      positionAbsolute:
        x: 1380
        y: 980
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: constant
          operation: overwrite
          value: mode_4_option
          variable_selector:
          - conversation
          - routing_mode_override
        - input_type: constant
          operation: overwrite
          value: mode_4_option
          variable_selector:
          - conversation
          - active_mode
        - input_type: constant
          operation: overwrite
          value: ''
          variable_selector:
          - conversation
          - pending_question
        - input_type: constant
          operation: overwrite
          value: '0'
          variable_selector:
          - conversation
          - followup_turn_count
        - input_type: constant
          operation: overwrite
          value: resolved
          variable_selector:
          - conversation
          - followup_status
        - input_type: constant
          operation: overwrite
          value: 已切換到 option 模式，之後會優先用低負擔選項式互動，同時保留量表線索，直到你輸入其他模式指令或 auto。
          variable_selector:
          - conversation
          - command_feedback
        title: Set Command Option
        type: assigner
        version: '2'
      id: set-command-option
      position:
        x: 1600
        y: 980
      positionAbsolute:
        x: 1600
        y: 980
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: constant
          operation: overwrite
          value: mode_5_natural
          variable_selector:
          - conversation
          - routing_mode_override
        - input_type: constant
          operation: overwrite
          value: mode_5_natural
          variable_selector:
          - conversation
          - active_mode
        - input_type: constant
          operation: overwrite
          value: ''
          variable_selector:
          - conversation
          - pending_question
        - input_type: constant
          operation: overwrite
          value: '0'
          variable_selector:
          - conversation
          - followup_turn_count
        - input_type: constant
          operation: overwrite
          value: resolved
          variable_selector:
          - conversation
          - followup_status
        - input_type: constant
          operation: overwrite
          value: 已切換到 natural 模式，之後會優先用自然互動蒐集線索，直到你輸入其他模式指令或 auto。
          variable_selector:
          - conversation
          - command_feedback
        title: Set Command Natural
        type: assigner
        version: '2'
      id: set-command-natural
      position:
        x: 1820
        y: 980
      positionAbsolute:
        x: 1820
        y: 980
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: constant
          operation: overwrite
          value: mode_6_clarify
          variable_selector:
          - conversation
          - routing_mode_override
        - input_type: constant
          operation: overwrite
          value: mode_6_clarify
          variable_selector:
          - conversation
          - active_mode
        - input_type: constant
          operation: overwrite
          value: ''
          variable_selector:
          - conversation
          - pending_question
        - input_type: constant
          operation: overwrite
          value: '0'
          variable_selector:
          - conversation
          - followup_turn_count
        - input_type: constant
          operation: overwrite
          value: resolved
          variable_selector:
          - conversation
          - followup_status
        - input_type: constant
          operation: overwrite
          value: 已切換到 clarify 模式，之後會優先用最小補問來釐清資訊，直到你輸入其他模式指令或 auto。
          variable_selector:
          - conversation
          - command_feedback
        title: Set Command Clarify
        type: assigner
        version: '2'
      id: set-command-clarify
      position:
        x: 2040
        y: 980
      positionAbsolute:
        x: 2040
        y: 980
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: constant
          operation: overwrite
          value: mode_1_void
          variable_selector:
          - conversation
          - active_mode
        title: Set Active Mode Void
        type: assigner
        version: '2'
      id: set-mode-void
      position:
        x: 900
        y: 20
      positionAbsolute:
        x: 900
        y: 20
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: constant
          operation: overwrite
          value: mode_2_soulmate
          variable_selector:
          - conversation
          - active_mode
        title: Set Active Mode Soulmate
        type: assigner
        version: '2'
      id: set-mode-soulmate
      position:
        x: 900
        y: 180
      positionAbsolute:
        x: 900
        y: 180
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: constant
          operation: overwrite
          value: mode_3_mission
          variable_selector:
          - conversation
          - active_mode
        title: Set Active Mode Mission
        type: assigner
        version: '2'
      id: set-mode-mission
      position:
        x: 900
        y: 300
      positionAbsolute:
        x: 900
        y: 300
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: constant
          operation: overwrite
          value: mode_4_option
          variable_selector:
          - conversation
          - active_mode
        title: Set Active Mode Option
        type: assigner
        version: '2'
      id: set-mode-option
      position:
        x: 900
        y: 480
      positionAbsolute:
        x: 900
        y: 480
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: constant
          operation: overwrite
          value: mode_5_natural
          variable_selector:
          - conversation
          - active_mode
        title: Set Active Mode Natural
        type: assigner
        version: '2'
      id: set-mode-natural
      position:
        x: 900
        y: 660
      positionAbsolute:
        x: 900
        y: 660
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: constant
          operation: overwrite
          value: mode_6_clarify
          variable_selector:
          - conversation
          - active_mode
        title: Set Active Mode Clarify
        type: assigner
        version: '2'
      id: set-mode-clarify
      position:
        x: 900
        y: 840
      positionAbsolute:
        x: 900
        y: 840
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        cases:
        - case_id: override_active
          conditions:
          - comparison_operator: is not empty
            variable_selector:
            - conversation
            - routing_mode_override
        title: Override Gate
        type: if-else
      id: override-gate
      position:
        x: 500
        y: 520
      positionAbsolute:
        x: 500
        y: 520
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        cases:
        - case_id: pending_not_empty
          conditions:
          - comparison_operator: is not empty
            variable_selector:
            - conversation
            - pending_question
        title: Follow-up Gate
        type: if-else
      id: followup-gate
      position:
        x: 340
        y: 420
      positionAbsolute:
        x: 340
        y: 420
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        cases:
        - case_id: limit_reached
          conditions:
          - comparison_operator: is
            value: '2'
            variable_selector:
            - conversation
            - followup_turn_count
        title: Follow-up Limit Gate
        type: if-else
      id: followup-limit-gate
      position:
        x: 620
        y: 160
      positionAbsolute:
        x: 620
        y: 160
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        classes:
        - id: mode_1_void
          name: Void Box
        - id: mode_2_soulmate
          name: Soul Mate
        - id: mode_3_mission
          name: Mission Guide
        - id: mode_4_option
          name: Option Selector
        - id: mode_5_natural
          name: Smart Hunter
        - id: mode_6_clarify
          name: Clarify
        instruction: |
          你是意圖分類器。
          請只輸出最符合的一個類別代號，不要解釋。
          1. mode_1_void: 空白、測試、無意義輸入
          2. mode_2_soulmate: 需要陪伴、共感、情緒支持
          3. mode_3_mission: 任務、步驟、流程、要完成一件事
          4. mode_4_option: 需要比較、選擇、方案判斷
          5. mode_5_natural: 一般自然對話、日常聊天、延續話題
          6. mode_6_clarify: 資訊不足，需要先補一個關鍵問題
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: ''
          provider: ''
        query_variable_selector:
        - sys
        - query
        title: Intent Classifier
        type: question-classifier
      id: classifier
      position:
        x: 620
        y: 280
      positionAbsolute:
        x: 620
        y: 280
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        classes:
        - id: mode_1_void
          name: Void Box
        - id: mode_2_soulmate
          name: Soul Mate
        - id: mode_3_mission
          name: Mission Guide
        - id: mode_4_option
          name: Option Selector
        - id: mode_5_natural
          name: Smart Hunter
        - id: mode_6_clarify
          name: Clarify
        instruction: |
          你要根據 `routing_mode_override` 的值，輸出對應的 mode 類別。
          只輸出一個類別代號，不要解釋。
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: ''
          provider: ''
        query_variable_selector:
        - conversation
        - routing_mode_override
        title: Override Router
        type: question-classifier
      id: override-router
      position:
        x: 700
        y: 520
      positionAbsolute:
        x: 700
        y: 520
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            你要處理沒有內容或無法辨識的輸入。
            請用一句簡短提醒，請使用者輸入更完整的問題。
        title: Void Box
        type: llm
        vision:
          enabled: false
      id: llm-void
      position:
        x: 940
        y: 20
      positionAbsolute:
        x: 940
        y: 20
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.5
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            你是一個溫暖、像真人的朋友。
            規則：
            1. 先接住情緒，再回應。
            2. 不要像客服，不要像問卷。
            3. 回覆要自然、短一點。
        title: Soul Mate
        type: llm
        vision:
          enabled: false
      id: llm-soulmate
      position:
        x: 940
        y: 180
      positionAbsolute:
        x: 940
        y: 180
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        dataset_ids:
        - JB1PuOSPlWXMsgVAkT5B4u/hSkfNYLAS+G+Zmysp3Fhot7pSACV7KyX378KBhRU7
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          top_k: 2
        query_attachment_selector: []
        query_variable_selector:
        - sys
        - query
        retrieval_mode: multiple
        title: Mission Retrieval
        type: knowledge-retrieval
      id: retrieval-mission
      position:
        x: 940
        y: 300
      positionAbsolute:
        x: 940
        y: 300
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            你要根據本輪使用者輸入、既有狀態與目前已累積的標籤摘要，更新 HAM-D 線索狀態。
            這個節點不只服務 mission，也服務 option、natural、clarify 與 follow-up 前的自然蒐集。
            也就是說：只要這一輪對話出現可映射到量表的線索，就應該進狀態。
            可用維度集合固定為：
            ["depressed_mood","guilt","work_interest","retardation","agitation","somatic_anxiety","insomnia"]
            固定欄位：
            {
              "progress_stage":"...",
              "current_focus":"...",
              "supported_dimensions":["..."],
              "covered_dimensions":["..."],
              "missing_dimensions":["..."],
              "next_recommended_dimension":"...",
              "recent_evidence":["..."],
              "needs_clarification":"yes_or_no",
              "status_summary":"..."
            }
            若沒有既有狀態，可從空白開始。
            舊狀態：{{#conversation.hamd_progress_state#}}
            目前標籤：{{#conversation.latest_tag_payload#}}
            目前摘要：{{#conversation.summary_draft_state#}}
            目前模式：{{#conversation.active_mode#}}
            規則：
            1. 只根據目前輸入與既有狀態整理「有證據的線索」，不要臆測。
            2. `option`、`natural`、`clarify`、`follow-up` 若出現症狀內容，也應更新到相關維度。
            3. 若本輪沒有新增量表相關線索，可保留既有狀態，但仍要輸出完整 JSON。
            4. `supported_dimensions` 可列出本輪有被觸及的維度；`covered_dimensions` 表示整體已累積到的維度。
            5. `next_recommended_dimension` 應根據目前缺口與病人負擔，選一個最值得後續自然追蹤的維度。
            你必須讓 `covered_dimensions` 和 `missing_dimensions` 都只使用上述固定代號。
            只輸出 JSON，不要加解釋。
        title: HAM-D Progress Tracker
        type: llm
        vision:
          enabled: false
      id: hamd-progress-tracker
      position:
        x: 1240
        y: 220
      positionAbsolute:
        x: 1240
        y: 220
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: variable
          operation: overwrite
          value:
          - hamd-progress-tracker
          - text
          variable_selector:
          - conversation
          - hamd_progress_state
        title: Save HAM-D Progress
        type: assigner
        version: '2'
      id: save-hamd-progress
      position:
        x: 1540
        y: 220
      positionAbsolute:
        x: 1540
        y: 220
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: true
          variable_selector:
          - retrieval-mission
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.6
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            你是任務導向的引導助手。
            目標是把問題整理成可執行的步驟。
            規則：
            1. 先回應使用者的核心目標。
            2. 若知識庫有內容，優先使用知識庫內容。
            3. 輸出要清楚、分段、可行。
            4. 每次只推進一個最重要的 HAM-D 面向。
            目前 HAM-D 狀態：{{#conversation.hamd_progress_state#}}
            目前標籤狀態：{{#conversation.latest_tag_payload#}}
            如果 `next_recommended_dimension` 有值，優先圍繞那個維度前進。
        title: Mission Guide
        type: llm
        vision:
          enabled: false
      id: llm-mission
      position:
        x: 1240
        y: 300
      positionAbsolute:
        x: 1240
        y: 300
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        dataset_ids:
        - JB1PuOSPlWXMsgVAkT5B4u/hSkfNYLAS+G+Zmysp3Fhot7pSACV7KyX378KBhRU7
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - sys
        - query
        retrieval_mode: multiple
        title: Option Retrieval
        type: knowledge-retrieval
      id: retrieval-option
      position:
        x: 940
        y: 480
      positionAbsolute:
        x: 940
        y: 480
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: true
          variable_selector:
          - retrieval-option
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.4
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            你是選項比較助手。
            目標是把候選方案整理成可比較、可決策的輸出。
            規則：
            1. 先列出每個選項的優缺點。
            2. 若知識庫有內容，優先使用知識庫內容。
            3. 不要冗長，輸出要能直接幫人做選擇。
        title: Option Selector
        type: llm
        vision:
          enabled: false
      id: llm-option
      position:
        x: 1240
        y: 480
      positionAbsolute:
        x: 1240
        y: 480
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.5
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            你是一個自然、溫暖、像真人的朋友。
            你的任務是一般陪伴與自然對話。
            規則：
            1. 語氣自然，不要像客服。
            2. 如果使用者有負面情緒，先共感，不要直接轉成閒聊。
            3. 如果需要追問，最多只追一個小問題。
        title: Smart Hunter
        type: llm
        vision:
          enabled: false
      id: llm-natural
      position:
        x: 1240
        y: 660
      positionAbsolute:
        x: 1240
        y: 660
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        classes:
        - id: followup_ask_more
          name: Ask More
        - id: followup_answer_now
          name: Answer Now
        instruction: |
          你要判斷上一個 follow-up 回覆是否仍然是一個補問。
          如果內容主要是在再問一個最小問題，輸出 followup_ask_more。
          如果內容主要是在直接回答或收斂，輸出 followup_answer_now。
          只輸出類別代號。
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: ''
          provider: ''
        query_variable_selector:
        - llm-followup
        - text
        title: Follow-up Output Classifier
        type: question-classifier
      id: followup-output-classifier
      position:
        x: 900
        y: 80
      positionAbsolute:
        x: 900
        y: 80
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.5
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            你正在處理上一輪留下的補問。
            已知補問內容：{{#conversation.pending_question#}}
            請根據使用者本輪回答，直接完成上一輪對話。
            如果資訊仍不足，且目前還沒到第二輪上限，只再提出一個最小補問。
            不要一次問超過一個問題。
        title: Follow-up Resolver
        type: llm
        vision:
          enabled: false
      id: llm-followup
      position:
        x: 620
        y: 80
      positionAbsolute:
        x: 620
        y: 80
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            你正在處理最後一次補問收斂。
            已知補問內容：{{#conversation.pending_question#}}
            現在不允許再追問。
            請根據目前已有資訊，給出最好的收斂回答。
        title: Follow-up Finalizer
        type: llm
        vision:
          enabled: false
      id: llm-followup-final
      position:
        x: 900
        y: 160
      positionAbsolute:
        x: 900
        y: 160
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: |
            你要先補一個最關鍵的問題。
            規則：
            1. 只問一個問題。
            2. 問題要短。
            3. 問題要能直接幫助下一輪回答。
        title: Clarify Question
        type: llm
        vision:
          enabled: false
      id: llm-clarify
      position:
        x: 1240
        y: 840
      positionAbsolute:
        x: 1240
        y: 840
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: constant
          operation: overwrite
          value: ''
          variable_selector:
          - conversation
          - pending_question
        - input_type: constant
          operation: overwrite
          value: '0'
          variable_selector:
          - conversation
          - followup_turn_count
        - input_type: constant
          operation: overwrite
          value: resolved
          variable_selector:
          - conversation
          - followup_status
        title: Clear Pending Question
        type: assigner
        version: '2'
      id: clear-pending
      position:
        x: 940
        y: 80
      positionAbsolute:
        x: 940
        y: 80
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: variable
          operation: overwrite
          value:
          - llm-clarify
          - text
          variable_selector:
          - conversation
          - pending_question
        - input_type: constant
          operation: overwrite
          value: '1'
          variable_selector:
          - conversation
          - followup_turn_count
        - input_type: constant
          operation: overwrite
          value: pending
          variable_selector:
          - conversation
          - followup_status
        title: Save Pending Question
        type: assigner
        version: '2'
      id: save-pending
      position:
        x: 1540
        y: 840
      positionAbsolute:
        x: 1540
        y: 840
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        items:
        - input_type: variable
          operation: overwrite
          value:
          - llm-followup
          - text
          variable_selector:
          - conversation
          - pending_question
        - input_type: constant
          operation: overwrite
          value: '2'
          variable_selector:
          - conversation
          - followup_turn_count
        - input_type: constant
          operation: overwrite
          value: pending
          variable_selector:
          - conversation
          - followup_status
        - input_type: constant
          operation: overwrite
          value: followup
          variable_selector:
          - conversation
          - active_mode
        title: Save Follow-up Question
        type: assigner
        version: '2'
      id: save-pending-followup
      position:
        x: 1180
        y: 80
      positionAbsolute:
        x: 1180
        y: 80
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        answer: '{{#safety-response.text#}}'
        title: Safety Answer
        type: answer
        variables: []
      id: answer-safety
      position:
        x: 1540
        y: 40
      positionAbsolute:
        x: 1540
        y: 40
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        answer: '{{#llm-void.text#}}'
        title: Void Answer
        type: answer
        variables: []
      id: answer-void
      position:
        x: 1540
        y: 20
      positionAbsolute:
        x: 1540
        y: 20
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        answer: '{{#llm-soulmate.text#}}'
        title: Soulmate Answer
        type: answer
        variables: []
      id: answer-soulmate
      position:
        x: 1540
        y: 180
      positionAbsolute:
        x: 1540
        y: 180
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        answer: '{{#llm-mission.text#}}'
        title: Mission Answer
        type: answer
        variables: []
      id: answer-mission
      position:
        x: 1540
        y: 300
      positionAbsolute:
        x: 1540
        y: 300
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        answer: '{{#llm-option.text#}}'
        title: Option Answer
        type: answer
        variables: []
      id: answer-option
      position:
        x: 1540
        y: 480
      positionAbsolute:
        x: 1540
        y: 480
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        answer: '{{#llm-natural.text#}}'
        title: Natural Answer
        type: answer
        variables: []
      id: answer-natural
      position:
        x: 1540
        y: 660
      positionAbsolute:
        x: 1540
        y: 660
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        answer: '{{#llm-followup.text#}}'
        title: Follow-up Answer
        type: answer
        variables: []
      id: answer-followup
      position:
        x: 1240
        y: 80
      positionAbsolute:
        x: 1240
        y: 80
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        answer: '{{#llm-clarify.text#}}'
        title: Clarify Answer
        type: answer
        variables: []
      id: answer-clarify
      position:
        x: 1820
        y: 840
      positionAbsolute:
        x: 1820
        y: 840
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        answer: '{{#conversation.command_feedback#}}'
        title: Command Answer
        type: answer
        variables: []
      id: answer-command
      position:
        x: 2300
        y: 980
      positionAbsolute:
        x: 2300
        y: 980
      sourcePosition: right
      targetPosition: left
      type: custom
    viewport:
      x: 0
      y: 0
      zoom: 0.6
  rag_pipeline_variables: []
