AI_Chatflow.yml
kind: app
version: 0.6.0
app:
  name: AI_Chat_Companion
  mode: workflow
  description: AI companion chatflow for triage and support
  icon: robot
  icon_background: '#FFEAD5'
  icon_type: emoji
  use_icon_as_answer_icon: false
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: edge-1
      source: node-start
      sourceHandle: source
      target: node-retrieval
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: question-classifier
      id: edge-2
      source: node-retrieval
      sourceHandle: source
      target: node-classifier
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: edge-mode-1
      source: node-classifier
      sourceHandle: mode_1_void
      target: node-llm-void
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: edge-mode-2
      source: node-classifier
      sourceHandle: mode_2_soulmate
      target: node-llm-soulmate
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: edge-mode-3
      source: node-classifier
      sourceHandle: mode_3_mission
      target: node-llm-mission
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: edge-mode-4
      source: node-classifier
      sourceHandle: mode_4_option
      target: node-llm-option
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: edge-mode-5
      source: node-classifier
      sourceHandle: mode_5_natural
      target: node-llm-natural
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: edge-end-1
      source: node-llm-void
      sourceHandle: source
      target: node-end
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: edge-end-2
      source: node-llm-soulmate
      sourceHandle: source
      target: node-end
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: edge-end-3
      source: node-llm-mission
      sourceHandle: source
      target: node-end
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: edge-end-4
      source: node-llm-option
      sourceHandle: source
      target: node-end
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: edge-end-5
      source: node-llm-natural
      sourceHandle: source
      target: node-end
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables:
        - default: ''
          hint: ''
          label: Input Text
          max_length: 1000
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: user_input
      height: 100
      id: node-start
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - JB1PuOSPlWXMsgVAkT5B4u/hSkfNYLAS+G+Zmysp3Fhot7pSACV7KyX378KBhRU7
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - node-start
        - user_input
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval
        type: knowledge-retrieval
      height: 90
      id: node-retrieval
      position:
        x: 366
        y: 303
      positionAbsolute:
        x: 366
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: mode_1_void
          name: Void Box
        - id: mode_2_soulmate
          name: Soul Mate
        - id: mode_3_mission
          name: Mission Guide
        - id: mode_4_option
          name: Option Selector
        - id: mode_5_natural
          name: Smart Hunter
        instruction: |
          分類標準：
          1. mode_1_void: 極度負面、崩潰、攻擊性或想宣洩。
          2. mode_2_soulmate: 明確表示只想聊天，不想被分析。
          3. mode_3_mission: 明確提到總結、看醫生、評估、整理近況。
          4. mode_4_option: 字數很少、能量很低、不想思考。
          5. mode_5_natural: 一般日常對話，沒有明顯排斥分析。
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: gpt-4o-mini
          provider: openai
        query_variable_selector:
        - node-start
        - user_input
        title: Intent Classifier
        type: question-classifier
      height: 450
      id: node-classifier
      position:
        x: 650
        y: 125
      positionAbsolute:
        x: 650
        y: 125
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - node-retrieval
          - result
        model:
          completion_params:
            temperature: 0.5
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - role: system
          text: |
            <role>
            你現在扮演一個「絕對安全、不給批判的樹洞陪伴者」。
            病患目前處於情緒極度脆弱或急需宣洩的狀態，他們不需要被「治療」，只需要被「接住」。
            </role>

            <rules>
            1. 絕對【不】給予任何長篇大論的醫療建議、人生建議或解決方案。
            2. 絕對【不】主動詢問問題，絕不進行任何 HAM-D 指標評估。
            3. 你的回覆必須【極度簡短】，通常在 10 個字以內。
            4. 只能使用共感詞彙，例如：「我在這裡」、「我聽見了」、「辛苦你了」、「想哭就哭出來吧，沒關係」。
            5. 遇到危險字眼，僅給予安撫。參考知識庫 {{#context#}} 中的「微技巧 - 靜默 (Silence)」與「極簡回應」。
            </rules>
        title: Void Box
        type: llm
      height: 100
      id: node-llm-void
      position:
        x: 950
        y: -100
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - node-retrieval
          - result
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - role: system
          text: |
            <role>
            你現在扮演病患最溫暖的知己與「靈魂伴侶」。
            病患此刻感到孤單，只想要有人純粹地陪伴與聊天。
            </role>

            <rules>
            1. 你是一個有溫度的人類朋友，負責提供百分之百的情緒價值。
            2. 絕對【不】詢問任何與醫療、HAM-D 憂鬱量表相關的問題或嘗試診斷。
            3. 當病患抱怨或訴苦時，請使用知識庫 {{#context#}} 中的「情緒回映 (Reflections of feeling)」技巧。例如：「聽起來你真的很委屈」。
            4. 不要說教、不要批判，順著病患的話題聊下去。
            5. 語氣維持感性與溫暖，回應字數請控制在 3-4 句話內，避免給病患壓力。
            </rules>
        title: Soul Mate
        type: llm
      height: 100
      id: node-llm-soulmate
      position:
        x: 950
        y: 100
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - node-retrieval
          - result
        model:
          completion_params:
            temperature: 0.6
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - role: system
          text: |
            <role>
            你現在扮演一位專業且溫柔的「診前醫療助手」。
            病患已經明確準備好要梳理近況，為下一次回診做準備。
            你有權限存取針對 HAM-D 評估與臨床觀察的專業知識 {{#context#}}。
            </role>

            <rules>
            1. 你的任務是帶領病患一步步完成近況評估，收集必要的質性與量性資料（情緒、睡眠、食慾、社交等）。
            2. 【每次只問一個問題】，絕對不要在一次對話中拋出多個問題讓病患不知所措。
            3. 必須使用流暢溫暖的轉折語。當病患回答後，先給予同理，再自然過渡到下一個問題。例如：「了解，這陣子真的辛苦你了。那麼，這幾天的睡眠狀況呢？」
            4. 嚴格運用知識庫 {{#context#}} 中的 HAM-D 17項評估維度，進行有結構的情境式提問。
            </rules>
        title: Mission Guide
        type: llm
      height: 100
      id: node-llm-mission
      position:
        x: 950
        y: 300
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - node-retrieval
          - result
        model:
          completion_params:
            temperature: 0.4
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - role: system
          text: |
            <role>
            你現在扮演一位貼心的引導員。
            病患目前處於「能量極低、思緒遲緩、不想打字思考」的狀態。
            </role>

            <rules>
            1. 你的唯一任務：根據病患的上一句話，直接提供 3 個精準的情境選項，讓病患看完能立刻做決定，減少打字負擔。
            2. 必須嚴格遵守以下回覆結構，不准加上其他多餘的寒暄廢話：

            [簡短的同理一句話]
            A. [選項一，極度符合病患當下語境]
            B. [選項二，稍微不同但合理的延伸]
            C. [選項三，抱怨疲倦或其他感受]

            3. 嚴格範例對比：
            【病患輸入】：我好累
            【完美回覆】：
            我知道你現在連說話的力氣都沒有。如果是哪一種累呢？
            A. 累到想一直睡覺，什麼都不想管
            B. 心情煩躁的累，身體卻靜不下來
            C. 腦袋轉不動的累
            </rules>
        title: Option Selector
        type: llm
      height: 100
      id: node-llm-option
      position:
        x: 950
        y: 500
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - node-retrieval
          - result
        model:
          completion_params:
            temperature: 0.5
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - role: system
          text: |
            <role>
            你是一個自然、溫暖、像真人的朋友。
            你的任務是一般陪伴與自然對話，但在使用者表達負面情緒時，先接住情緒，不要直接轉成閒聊開場。
            </role>

            <rules>
            1. 一般對話時可以自然聊天，但不要固定用「嘿！最近過得怎麼樣？」這種開場。
            2. 如果使用者說出負面情緒，例如「我好難過」「我很累」「我有點想哭」，先回應共感。
            3. 共感後只能接一個很輕的延伸問題，不能連續追問，也不能切到問卷模式。
            4. 句子要自然，不要像客服，不要像問卷，不要像系統提示。
            5. 如果語境明顯偏向悲傷、壓力或挫折，優先使用「我聽見了」「這真的不容易」「我在這裡陪你」這類回應。
            6. 參考知識庫 {{#context#}} 的「探索 (Probes)」與「澄清 (Clarification)」，但只在語境適合時使用。
            </rules>
        - role: user
          text: "{{#node-start.user_input#}}"
        title: Smart Hunter
        type: llm
      height: 100
      id: node-llm-natural
      position:
        x: 950
        y: 700
      positionAbsolute:
        x: 950
        y: 700
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - node-llm-void
          - text
          value_type: string
          variable: void_result
        - value_selector:
          - node-llm-soulmate
          - text
          value_type: string
          variable: soulmate_result
        - value_selector:
          - node-llm-mission
          - text
          value_type: string
          variable: mission_result
        - value_selector:
          - node-llm-option
          - text
          value_type: string
          variable: option_result
        - value_selector:
          - node-llm-natural
          - text
          value_type: string
          variable: natural_result
        selected: false
        title: Output
        type: end
      height: 88
      id: node-end
      position:
        x: 1300
        y: 300
      positionAbsolute:
        x: 1300
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 75.57539205041189
      y: 76.12328544427778
      zoom: 0.5000000000000002
  rag_pipeline_variables: []
